<template>
  <!-- 1 -->
  <div class="flex items-center space-x-4 bg-Toko-hijau p-3 w-full md:w-80 rounded-t-[50px]">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="50"
      height="50"
      viewBox="0 0 50 50"
      fill="none">
      <circle
        cx="25"
        cy="25"
        r="25"
        fill="white" />
      <path
        d="M34.7028 26.6193C34.5341 26.6205 34.3669 26.5859 34.2108 26.5175C34.0547 26.4491 33.9128 26.3482 33.7933 26.2207L34.7028 26.6193ZM34.7028 26.6193C35.0415 26.6198 35.3668 26.4778 35.6088 26.2239L34.7028 26.6193ZM31.938 22.7376C31.9792 22.6311 32.0384 22.5362 32.111 22.4574L34.7059 18.3655C34.7056 18.3678 34.7052 18.3716 34.7037 18.3897C34.702 18.4085 34.6998 18.4382 34.6998 18.4726V19.4913L35.5057 18.8681C35.6423 18.7625 35.8018 18.7087 35.9617 18.7086L35.9644 18.7085C36.0621 18.7079 36.1598 18.7279 36.2522 18.7685C36.3448 18.8092 36.4313 18.8701 36.5057 18.9496L36.5069 18.9508L38.5451 21.1122L38.5468 21.1141L38.5584 21.1265C38.6996 21.2885 38.7837 21.5075 38.7857 21.7413C38.7878 21.9774 38.7061 22.2002 38.565 22.3659L38.5628 22.3685C38.5581 22.3741 38.553 22.38 38.5477 22.3856C38.5474 22.3859 38.5471 22.3862 38.5468 22.3865L35.2467 25.879C35.2465 25.8793 35.2462 25.8795 35.246 25.8798C35.0949 26.0379 34.8995 26.1196 34.7036 26.1193L34.6992 26.1193C34.6016 26.12 34.5039 26.1 34.4115 26.0595C34.319 26.019 34.2325 25.9582 34.1581 25.8787L34.157 25.8776L32.1177 23.715C32.0427 23.6355 31.9815 23.539 31.9391 23.4303C31.8966 23.3216 31.8743 23.2038 31.8741 23.0841C31.8739 22.9644 31.8959 22.8465 31.938 22.7376ZM34.4818 17.067C34.7523 17.476 34.7337 17.9359 34.7064 18.3595L31.8923 21.9539L32.3706 22.0997C32.3706 22.0996 32.3707 22.0996 32.3707 22.0996C32.3929 22.0267 32.4005 21.9504 32.3935 21.8753L32.3701 21.624L32.1541 21.4936C31.8584 21.315 31.5149 21.2364 31.1713 21.2725L31.1672 21.273C31.0033 21.2916 30.6002 21.375 30.0734 21.7222L30.072 21.7231C29.8785 21.8516 29.5499 22.1418 29.2275 22.4372C28.8918 22.7448 28.5232 23.0953 28.2332 23.3728L28.2328 23.3732C28.1446 23.4579 28.0365 23.4972 27.9319 23.4941C27.8271 23.4909 27.7201 23.4449 27.6353 23.3538L27.6349 23.3534L25.5867 21.1588L25.5862 21.1583C25.505 21.0716 25.4511 20.9505 25.4424 20.8156C25.4337 20.6806 25.4715 20.5504 25.5429 20.4497L25.5442 20.4478C25.9191 19.9132 26.2306 19.4071 26.4493 18.9972C26.5583 18.793 26.6481 18.6055 26.7114 18.4459C26.743 18.3663 26.7707 18.2866 26.7907 18.2108C26.8087 18.1424 26.8294 18.0446 26.8248 17.9398L26.8248 17.9389C26.7653 16.6359 26.3959 15.6786 25.5648 14.9624L25.5648 14.9624L25.5614 14.9595C25.3023 14.7402 24.916 14.525 24.5064 14.3569C24.0929 14.1873 23.6146 14.0488 23.1585 14.0084C22.739 13.9706 22.3167 13.9989 21.9052 14.0921L21.8978 14.0938L21.8904 14.0957C21.6965 14.1459 21.5057 14.2086 21.3191 14.2833L21.3191 14.2833L21.3162 14.2845C21.2304 14.3195 21.1384 14.3235 21.0515 14.2971C20.964 14.2705 20.8803 14.2123 20.8168 14.1236C20.7531 14.0345 20.7153 13.9215 20.7138 13.8013C20.7123 13.6811 20.7472 13.5667 20.809 13.4753C21.0433 13.1299 21.3058 12.8082 21.593 12.5138C22.0657 12.0508 23.3711 11.2143 25.0932 11.2143L25.0935 11.2143C26.107 11.2136 27.1118 11.4253 28.0515 11.8385L28.0525 11.8389C30.6163 12.9591 32.2884 14.4869 33.0505 15.2909C33.0509 15.2914 33.0513 15.2918 33.0517 15.2923L33.054 15.2947C33.5696 15.8469 34.0468 16.4392 34.4818 17.067ZM22.5488 22.8396L22.555 22.8335L22.561 22.8271C22.8279 22.5441 23.181 22.3928 23.5408 22.3938C23.9006 22.3948 24.253 22.5482 24.5187 22.8328L26.0727 24.4985C26.0727 24.4985 26.0728 24.4986 26.0728 24.4986C26.2053 24.6407 26.3119 24.8113 26.385 25.0013C26.4582 25.1914 26.496 25.3962 26.4956 25.6037C26.4951 25.8111 26.4564 26.0157 26.3823 26.2054C26.3083 26.395 26.2009 26.565 26.0678 26.7064L26.0612 26.7134L26.0549 26.7206L16.0155 38.2421C16.0151 38.2425 16.0147 38.243 16.0144 38.2434C15.7099 38.5872 15.3601 38.7686 15.0001 38.7857H14.9414C14.5785 38.7842 14.2232 38.6296 13.955 38.3432L13.9532 38.3413L13.9529 38.3409L11.6324 35.8273C11.6323 35.8273 11.6323 35.8272 11.6322 35.8271C11.4942 35.677 11.3847 35.4961 11.3124 35.2947C11.2401 35.0932 11.2069 34.877 11.2157 34.6597C11.2335 34.2387 11.4249 33.8463 11.7453 33.522C11.7459 33.5214 11.7465 33.5208 11.7471 33.5202L22.5488 22.8396Z"
        fill="white"
        stroke="#00710D" />
    </svg>
    <span class="text-xl md:text-2xl text-white font-semibold">Tukang Tersertifikasi</span>
  </div>

  <div
    class="mt-0 text-black border-2 border-green-600 rounded-b-3xl md:rounded-r-[50px] md:rounded-bl-[50px] p-4 md:p-10 text-xl md:text-3xl bg-white/75 sans3 font-normal">
    Tim tukang kami telah dilengkapi dengan sertifikasi profesional sesuai dengan bidang
    pekerjaannya. Dengan sertifikasi ini, Anda dapat yakin bahwa pekerjaan kami akan dilakukan oleh
    ahli yang berkualitas. Kami berkomitmen untuk memberikan layanan tukang yang berkualitas untuk
    memenuhi semua kebutuhan Anda.
  </div>

  <!-- 2 -->
  <div
    class="flex items-center space-x-4 bg-Toko-hijau p-3 w-full md:w-[620px] rounded-t-[50px] mt-10">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="50"
      height="50"
      viewBox="0 0 50 50"
      fill="none">
      <circle
        cx="25"
        cy="25"
        r="25"
        fill="white" />
      <path
        d="M28.5714 18.5715C28.5714 20.9384 26.6526 22.8572 24.2856 22.8572C21.9187 22.8572 19.9999 20.9384 19.9999 18.5715C19.9999 16.2045 21.9187 14.2858 24.2856 14.2858C26.6526 14.2858 28.5714 16.2045 28.5714 18.5715Z"
        fill="white" />
      <path
        d="M14.2856 37.1429L14.2861 32.8567C14.2864 30.49 16.2051 28.5715 18.5718 28.5715H27.1426M30.7142 32.1429L32.1428 33.5715L37.1428 28.5715M32.1428 14.2858C33.8764 15.2575 34.9999 16.8154 34.9999 18.5715C34.9999 20.3276 33.8764 21.8854 32.1428 22.8572M28.5714 18.5715C28.5714 20.9384 26.6526 22.8572 24.2856 22.8572C21.9187 22.8572 19.9999 20.9384 19.9999 18.5715C19.9999 16.2045 21.9187 14.2858 24.2856 14.2858C26.6526 14.2858 28.5714 16.2045 28.5714 18.5715Z"
        stroke="#00710D"
        stroke-linecap="round"
        stroke-linejoin="round" />
    </svg>
    <span class="text-xl md:text-2xl text-white font-semibold sans3"
      >Pembayaran Sekali Bayar untuk Semua Pekerjaan</span
    >
  </div>

  <div
    class="mt-0 text-black border-2 border-green-600 rounded-b-2xl md:rounded-r-[50px] p-4 md:p-10 text-xl md:text-3xl md:rounded-bl-[50px] bg-white/75 sans3 font-normal">
    Kami menawarkan kemudahan dalam pembayaran dengan konsep "pembayaran di muka." Kami percaya
    bahwa dengan pendekatan ini, kami dapat memastikan kelancaran proses dan memberikan kepastian
    kepada Anda bahwa pekerjaan akan segera dilakukan setelah pembayaran diterima. Kepuasan
    pelanggan adalah prioritas kami, dan kami berkomitmen untuk memberikan pelayanan yang transparan
    dan efisien.
  </div>

  <!-- 3 -->
  <div class="flex items-center space-x-4 bg-Toko-hijau p-3 w-full md:w-80 rounded-t-[50px] mt-10">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="50"
      height="50"
      viewBox="0 0 50 50"
      fill="none">
      <circle
        cx="25"
        cy="25"
        r="25"
        fill="white" />
      <path
        d="M39.2858 24.9999C39.2858 32.8897 32.8899 39.2857 25.0001 39.2857C17.1103 39.2857 10.7144 32.8897 10.7144 24.9999C10.7144 17.1102 17.1103 10.7142 25.0001 10.7142C32.8899 10.7142 39.2858 17.1102 39.2858 24.9999Z"
        fill="white" />
      <path
        d="M30.1991 29.0457C30.4611 29.133 30.7442 28.9915 30.8316 28.7295C30.9189 28.4675 30.7773 28.1844 30.5153 28.097L30.1991 29.0457ZM25.0001 26.7857H24.5001C24.5001 27.0009 24.6378 27.1919 24.842 27.26L25.0001 26.7857ZM25.5001 19.3188C25.5001 19.0426 25.2762 18.8188 25.0001 18.8188C24.7239 18.8188 24.5001 19.0426 24.5001 19.3188H25.5001ZM30.5153 28.097L25.1582 26.3113L24.842 27.26L30.1991 29.0457L30.5153 28.097ZM25.5001 26.7857V19.3188H24.5001V26.7857H25.5001ZM38.7858 24.9999C38.7858 32.6136 32.6137 38.7857 25.0001 38.7857V39.7857C33.166 39.7857 39.7858 33.1659 39.7858 24.9999H38.7858ZM25.0001 38.7857C17.3864 38.7857 11.2144 32.6136 11.2144 24.9999H10.2144C10.2144 33.1659 16.8341 39.7857 25.0001 39.7857V38.7857ZM11.2144 24.9999C11.2144 17.3863 17.3864 11.2142 25.0001 11.2142V10.2142C16.8341 10.2142 10.2144 16.834 10.2144 24.9999H11.2144ZM25.0001 11.2142C32.6137 11.2142 38.7858 17.3863 38.7858 24.9999H39.7858C39.7858 16.834 33.166 10.2142 25.0001 10.2142V11.2142Z"
        fill="#00710D" />
    </svg>
    <span class="text-xl md:text-2xl text-white font-semibold">Same-day Service</span>
  </div>

  <div
    class="mt-0 text-black border-2 border-green-600 rounded-b-2xl md:rounded-r-[50px] p-4 md:p-10 text-xl md:text-3xl md:rounded-bl-[50px] bg-white/75 sans3 font-normal">
    Kami menawarkan “Same-day Service” yang memungkinkan Anda untuk melakukan pemesanan layanan kami
    pada hari yang sama dan kami akan segera datang pada hari itu juga. Kami memahami betapa
    pentingnya kesegeraan dalam menyelesaikan proyek, dan dengan layanan "Same-day", kami
    berkomitmen untuk memberikan respons cepat dan menyediakan solusi untuk kebutuhan mendesak Anda.
  </div>
</template>
