<script setup>
import { onMounted } from 'vue';

onMounted(() => {
  const callback = function (entries) {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add('animate-fadeUp');
      } else {
        entry.target.classList.remove('animate-fadeUp');
      }
    });
  };

  const observer = new IntersectionObserver(callback);

  const targets = document.querySelectorAll('.scroll');
  targets.forEach((target) => {
    target.classList.add('opacity-0');
    observer.observe(target);
  });
});
</script>

<template>
  <!--1-->
  <div
    class="md:w-auto xl:w-[300px] 2xl:w-[350px] sm:h-[50vh] md:h-[43vh] lg:h-[45vh] 2xl:h-[35vh] mx-auto bg-gray-100 shadow-xl hover:shadow-none rounded-3xl duration-300 relative p-4 scroll">
    <div
      class="rounded-2xl overflow-hidden w-auto h-auto md:w-24 lg:w-16 2xl:w-24 md:h-auto md:bg-slate-200 ml-0 justify-center flex md:block">
      <!-- img pc -->
      <img
        src="/layananicon/AC.png"
        alt="Deskripsi Gambar"
        class="object-cover w-[7rem] 2xl:w-20 xl:w-20 h-auto md:w-full md:h-full md:flex hidden" />
        <!-- img desktop -->
      <div class="flex justify-center w-24 h-auto bg-slate-200 bg-none rounded-2xl">
        <img
        src="/layananicon/AC.png"
        alt="Deskripsi Gambar"
        class="object-cover w-[7rem] 2xl:w-20 xl:w-20 h-auto md:w-full md:h-full md:hidden " />
      </div>
      
    </div>

    <div
      class="text-center font-bold md:text-start mt-2 text-xl md:text-3xl md:font-semibold text-black xl:text-xl">
      Tukang AC
    </div>

    <div
      class="text-center md:text-start mt-2 !font-normal  md:text-lg text-black h-auto md:h-[12vh] items-center flex xl:text-sm 2xl:text-lg">
      <p>Nikmati pembersihan dan perbaikan untuk AC Anda dimanapun dan kapanpun. . .</p>
    </div>
    <hr class="mt-8 md:mt-8 lg:mt-0 2xl:mt-8" />
    <div class="md:flex p-4 justify-center md:justify-start ">
      <router-link to="/TentangKami">
        <button class="bg-green-500 hover:bg-green-600 p-2 rounded-full duration-300">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          viewBox="0 0 39 39"
          fill="none">
          <path
            d="M21.3229 10.125L30.4375 19.5M30.4375 19.5L21.3229 28.875M30.4375 19.5L8.5625 19.5"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </button>
      </router-link>

    </div>
  </div>
  <!--2-->
     <div
    class="md:w-auto xl:w-[300px] 2xl:w-[350px] sm:h-[50vh] md:h-[43vh] lg:h-[45vh] 2xl:h-[35vh] mx-auto bg-gray-100 shadow-xl hover:shadow-none rounded-3xl duration-300 relative p-4 scroll">
    <div
      class="rounded-2xl overflow-hidden w-auto h-auto md:w-24 lg:w-16 2xl:w-24 md:h-auto md:bg-slate-200 ml-0 justify-center flex md:block">
      <!-- img pc -->
      <img
        src="/layananicon/Listrik.png"
        alt="Deskripsi Gambar"
        class="object-cover w-[7rem] 2xl:w-20 xl:w-20 h-auto md:w-full md:h-full md:flex hidden" />
        <!-- img desktop -->
      <div class="flex justify-center w-24 h-auto bg-slate-200 bg-none rounded-2xl">
        <img
        src="/layananicon/Listrik.png"
        alt="Deskripsi Gambar"
        class="object-cover w-[7rem] 2xl:w-20 xl:w-20 h-auto md:w-full md:h-full md:hidden " />
      </div>
      
    </div>

    <div
      class="text-center font-bold md:text-start mt-2 text-xl md:text-3xl md:font-semibold text-black xl:text-xl">
      Tukang Listrik
    </div>

    <div
      class="text-center md:text-start mt-2 !font-normal  md:text-lg text-black h-auto md:h-[12vh] items-center flex xl:text-sm 2xl:text-lg">
      <p>Nikmati perbaikan dan pengecekan listrik rumah Anda dengan cepat, tepat, dan . . .</p>
    </div>
    <hr class="mt-8 md:mt-8 lg:mt-0 2xl:mt-8" />
    <div class="md:flex p-4 justify-center md:justify-start ">
      <router-link to="/TentangKami">
        <button class="bg-green-500 hover:bg-green-600 p-2 rounded-full duration-300">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          viewBox="0 0 39 39"
          fill="none">
          <path
            d="M21.3229 10.125L30.4375 19.5M30.4375 19.5L21.3229 28.875M30.4375 19.5L8.5625 19.5"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </button>
      </router-link>

    </div>
  </div>
  <!--3-->
     <div
    class="md:w-auto xl:w-[300px] 2xl:w-[350px] sm:h-[50vh] md:h-[43vh] lg:h-[45vh] 2xl:h-[35vh] mx-auto bg-gray-100 shadow-xl hover:shadow-none rounded-3xl duration-300 relative p-4 scroll">
    <div
      class="rounded-2xl overflow-hidden w-auto h-auto md:w-24 lg:w-16 2xl:w-24 md:h-auto md:bg-slate-200 ml-0 justify-center flex md:block">
      <!-- img pc -->
      <img
        src="/layananicon/Pipa.png"
        alt="Deskripsi Gambar"
        class="object-cover w-[7rem] 2xl:w-20 xl:w-20 h-auto md:w-full md:h-full md:flex hidden" />
        <!-- img desktop -->
      <div class="flex justify-center w-24 h-auto bg-slate-200 bg-none rounded-2xl">
        <img
        src="/layananicon/Pipa.png"
        alt="Deskripsi Gambar"
        class="object-cover w-[7rem] 2xl:w-20 xl:w-20 h-auto md:w-full md:h-full md:hidden " />
      </div>
      
    </div>

    <div
      class="text-center font-bold md:text-start mt-2 text-xl md:text-3xl md:font-semibold text-black xl:text-xl">
      Tukang Pipa
    </div>

    <div
      class="text-center md:text-start mt-2 !font-normal  md:text-lg text-black h-auto md:h-[12vh] items-center flex xl:text-sm 2xl:text-lg">
      <p>Nikmati pembersihan dan perbaikan saluran pipa Anda dengan . . .</p>
    </div>
    <hr class="mt-8 md:mt-8 lg:mt-0 2xl:mt-8" />
    <div class="md:flex p-4 justify-center md:justify-start ">
      <router-link to="/TentangKami">
        <button class="bg-green-500 hover:bg-green-600 p-2 rounded-full duration-300">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          viewBox="0 0 39 39"
          fill="none">
          <path
            d="M21.3229 10.125L30.4375 19.5M30.4375 19.5L21.3229 28.875M30.4375 19.5L8.5625 19.5"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </button>
      </router-link>

    </div>
  </div>
  <!--4-->
     <div
    class="md:w-auto xl:w-[300px] 2xl:w-[350px] sm:h-[50vh] md:h-[43vh] lg:h-[45vh] 2xl:h-[35vh] mx-auto bg-gray-100 shadow-xl hover:shadow-none rounded-3xl duration-300 relative p-4 scroll">
    <div
      class="rounded-2xl overflow-hidden w-auto h-auto md:w-24 lg:w-16 2xl:w-24 md:h-auto md:bg-slate-200 ml-0 justify-center flex md:block">
      <!-- img pc -->
      <img
        src="/layananicon/Pijat.png"
        alt="Deskripsi Gambar"
        class="object-cover w-[7rem] 2xl:w-20 xl:w-20 h-auto md:w-full md:h-full md:flex hidden" />
        <!-- img desktop -->
      <div class="flex justify-center w-24 h-auto bg-slate-200 bg-none rounded-2xl">
        <img
        src="/layananicon/Pijat.png"
        alt="Deskripsi Gambar"
        class="object-cover w-[7rem] 2xl:w-20 xl:w-20 h-auto md:w-full md:h-full md:hidden " />
      </div>
      
    </div>

    <div
      class="text-center font-bold md:text-start mt-2 text-xl md:text-3xl md:font-semibold text-black xl:text-xl">
      Tukang Massege
    </div>

    <div
      class="text-center md:text-start mt-2 !font-normal  md:text-lg text-black h-auto md:h-[12vh] items-center flex xl:text-sm 2xl:text-lg">
      <p>Nikmati layanan massage untuk tubuh Anda dimanapun dan kapanpun. . .</p>
    </div>
    <hr class="mt-8 md:mt-8 lg:mt-0 2xl:mt-8" />
    <div class="md:flex p-4 justify-center md:justify-start ">
      <router-link to="/TentangKami">
        <button class="bg-green-500 hover:bg-green-600 p-2 rounded-full duration-300">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          viewBox="0 0 39 39"
          fill="none">
          <path
            d="M21.3229 10.125L30.4375 19.5M30.4375 19.5L21.3229 28.875M30.4375 19.5L8.5625 19.5"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </button>
      </router-link>

    </div>
  </div>
  <!--5-->
     <div
    class="md:w-auto xl:w-[300px] 2xl:w-[350px] sm:h-[50vh] md:h-[43vh] lg:h-[45vh] 2xl:h-[35vh] mx-auto bg-gray-100 shadow-xl hover:shadow-none rounded-3xl duration-300 relative p-4 scroll">
    <div
      class="rounded-2xl overflow-hidden w-auto h-auto md:w-24 lg:w-16 2xl:w-24 md:h-auto md:bg-slate-200 ml-0 justify-center flex md:block">
      <!-- img pc -->
      <img
        src="/layananicon/Cleaningservice.png"
        alt="Deskripsi Gambar"
        class="object-cover w-[7rem] 2xl:w-20 xl:w-20 h-auto md:w-full md:h-full md:flex hidden" />
        <!-- img desktop -->
      <div class="flex justify-center w-24 h-auto bg-slate-200 bg-none rounded-2xl">
        <img
        src="/layananicon/Cleaningservice.png"
        alt="Deskripsi Gambar"
        class="object-cover w-[7rem] 2xl:w-20 xl:w-20 h-auto md:w-full md:h-full md:hidden " />
      </div>
      
    </div>

    <div
      class="text-center font-bold md:text-start mt-2 text-xl md:text-3xl md:font-semibold text-black xl:text-xl">
      Tukang Home Cleaning
    </div>

    <div
      class="text-center md:text-start mt-2 !font-normal  md:text-lg text-black h-auto md:h-[12vh] items-center flex xl:text-sm 2xl:text-lg">
      <p>Nikmati layanan pembersihan untuk rumah Anda dimanapun dan kapanpun. . .</p>
    </div>
    <hr class="mt-8 md:mt-8 lg:mt-0 2xl:mt-8" />
    <div class="md:flex p-4 justify-center md:justify-start ">
      <router-link to="/TentangKami">
        <button class="bg-green-500 hover:bg-green-600 p-2 rounded-full duration-300">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          viewBox="0 0 39 39"
          fill="none">
          <path
            d="M21.3229 10.125L30.4375 19.5M30.4375 19.5L21.3229 28.875M30.4375 19.5L8.5625 19.5"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </button>
      </router-link>

    </div>
  </div>
  <!--6-->
     <div
    class="md:w-auto xl:w-[300px] 2xl:w-[350px] sm:h-[50vh] md:h-[43vh] lg:h-[45vh] 2xl:h-[35vh] mx-auto bg-gray-100 shadow-xl hover:shadow-none rounded-3xl duration-300 relative p-4 scroll">
    <div
      class="rounded-2xl overflow-hidden w-auto h-auto md:w-24 lg:w-16 2xl:w-24 md:h-auto md:bg-slate-200 ml-0 justify-center flex md:block">
      <!-- img pc -->
      <img
        src="/layananicon/Gadget.png"
        alt="Deskripsi Gambar"
        class="object-cover w-[7rem] 2xl:w-20 xl:w-20 h-auto md:w-full md:h-full md:flex hidden" />
        <!-- img desktop -->
      <div class="flex justify-center w-24 h-auto bg-slate-200 bg-none rounded-2xl">
        <img
        src="/layananicon/Gadget.png"
        alt="Deskripsi Gambar"
        class="object-cover w-[7rem] 2xl:w-20 xl:w-20 h-auto md:w-full md:h-full md:hidden " />
      </div>
      
    </div>

    <div
      class="text-center font-bold md:text-start mt-2 text-xl md:text-3xl md:font-semibold text-black xl:text-xl">
      Tukang Servis Gadget
    </div>

    <div
      class="text-center md:text-start mt-2 !font-normal  md:text-lg text-black h-auto md:h-[12vh] items-center flex xl:text-sm 2xl:text-lg">
      <p>Nikmati pengecekan dan perbaikan untuk gadget Anda dimanapun dan kapanpun. . .</p>
    </div>
    <hr class="mt-8 md:mt-8 lg:mt-0 2xl:mt-8" />
    <div class="md:flex p-4 justify-center md:justify-start ">
      <router-link to="/TentangKami">
        <button class="bg-green-500 hover:bg-green-600 p-2 rounded-full duration-300">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          viewBox="0 0 39 39"
          fill="none">
          <path
            d="M21.3229 10.125L30.4375 19.5M30.4375 19.5L21.3229 28.875M30.4375 19.5L8.5625 19.5"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </button>
      </router-link>

    </div>
  </div>
  <!--7-->
     <div
    class="md:w-auto xl:w-[300px] 2xl:w-[350px] sm:h-[50vh] md:h-[43vh] lg:h-[45vh] 2xl:h-[35vh] mx-auto bg-gray-100 shadow-xl hover:shadow-none rounded-3xl duration-300 relative p-4 scroll">
    <div
      class="rounded-2xl overflow-hidden w-auto h-auto md:w-24 lg:w-16 2xl:w-24 md:h-auto md:bg-slate-200 ml-0 justify-center flex md:block">
      <!-- img pc -->
      <img
        src="/layananicon/Kunci.png"
        alt="Deskripsi Gambar"
        class="object-cover w-[7rem] 2xl:w-20 xl:w-20 h-auto md:w-full md:h-full md:flex hidden" />
        <!-- img desktop -->
      <div class="flex justify-center w-24 h-auto bg-slate-200 bg-none rounded-2xl">
        <img
        src="/layananicon/Kunci.png"
        alt="Deskripsi Gambar"
        class="object-cover w-[7rem] 2xl:w-20 xl:w-20 h-auto md:w-full md:h-full md:hidden " />
      </div>
      
    </div>

    <div
      class="text-center font-bold md:text-start mt-2 text-xl md:text-3xl md:font-semibold text-black xl:text-xl">
      Tukang Kunci
    </div>

    <div
      class="text-center md:text-start mt-2 !font-normal  md:text-lg text-black h-auto md:h-[12vh] items-center flex xl:text-sm 2xl:text-lg">
      <p>Nikmati pengecekan dan perbaikan seputar kunci dimanapun dan kapanpun. . .</p>
    </div>
    <hr class="mt-8 md:mt-8 lg:mt-0 2xl:mt-8" />
    <div class="md:flex p-4 justify-center md:justify-start ">
      <router-link to="/TentangKami">
        <button class="bg-green-500 hover:bg-green-600 p-2 rounded-full duration-300">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          viewBox="0 0 39 39"
          fill="none">
          <path
            d="M21.3229 10.125L30.4375 19.5M30.4375 19.5L21.3229 28.875M30.4375 19.5L8.5625 19.5"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </button>
      </router-link>

    </div>
  </div>
  <!--8-->
     <div
    class="md:w-auto xl:w-[300px] 2xl:w-[350px] sm:h-[50vh] md:h-[43vh] lg:h-[45vh] 2xl:h-[35vh] mx-auto bg-gray-100 shadow-xl hover:shadow-none rounded-3xl duration-300 relative p-4 scroll">
    <div
      class="rounded-2xl overflow-hidden w-auto h-auto md:w-24 lg:w-16 2xl:w-24 md:h-auto md:bg-slate-200 ml-0 justify-center flex md:block">
      <!-- img pc -->
      <img
        src="/layananicon/Atap.png"
        alt="Deskripsi Gambar"
        class="object-cover w-[7rem] 2xl:w-20 xl:w-20 h-auto md:w-full md:h-full md:flex hidden" />
        <!-- img desktop -->
      <div class="flex justify-center w-24 h-auto bg-slate-200 bg-none rounded-2xl">
        <img
        src="/layananicon/Atap.png"
        alt="Deskripsi Gambar"
        class="object-cover w-[7rem] 2xl:w-20 xl:w-20 h-auto md:w-full md:h-full md:hidden " />
      </div>
      
    </div>

    <div
      class="text-center font-bold md:text-start mt-2 text-xl md:text-3xl md:font-semibold text-black xl:text-xl">
      Tukang Atap
    </div>

    <div
      class="text-center md:text-start mt-2 !font-normal  md:text-lg text-black h-auto md:h-[12vh] items-center flex xl:text-sm 2xl:text-lg">
      <p>Nikmati perbaikan dan pemasangan atap dimanapun dan kapanpun. . .</p>
    </div>
    <hr class="mt-8 md:mt-8 lg:mt-0 2xl:mt-8" />
    <div class="md:flex p-4 justify-center md:justify-start ">
      <router-link to="/TentangKami">
        <button class="bg-green-500 hover:bg-green-600 p-2 rounded-full duration-300">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          viewBox="0 0 39 39"
          fill="none">
          <path
            d="M21.3229 10.125L30.4375 19.5M30.4375 19.5L21.3229 28.875M30.4375 19.5L8.5625 19.5"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </button>
      </router-link>

    </div>
  </div>
  <!--9-->
     <div
    class="md:w-auto xl:w-[300px] 2xl:w-[350px] sm:h-[50vh] md:h-[43vh] lg:h-[45vh] 2xl:h-[35vh] mx-auto bg-gray-100 shadow-xl hover:shadow-none rounded-3xl duration-300 relative p-4 scroll">
    <div
      class="rounded-2xl overflow-hidden w-auto h-auto md:w-24 lg:w-16 2xl:w-24 md:h-auto md:bg-slate-200 ml-0 justify-center flex md:block">
      <!-- img pc -->
      <img
        src="/layananicon/Cat.png"
        alt="Deskripsi Gambar"
        class="object-cover w-[7rem] 2xl:w-20 xl:w-20 h-auto md:w-full md:h-full md:flex hidden" />
        <!-- img desktop -->
      <div class="flex justify-center w-24 h-auto bg-slate-200 bg-none rounded-2xl">
        <img
        src="/layananicon/Cat.png"
        alt="Deskripsi Gambar"
        class="object-cover w-[7rem] 2xl:w-20 xl:w-20 h-auto md:w-full md:h-full md:hidden " />
      </div>
      
    </div>

    <div
      class="text-center font-bold md:text-start mt-2 text-xl md:text-3xl md:font-semibold text-black xl:text-xl">
      Tukang Cat
    </div>

    <div
      class="text-center md:text-start mt-2 !font-normal  md:text-lg text-black h-auto md:h-[12vh] items-center flex xl:text-sm 2xl:text-lg">
      <p>Nikmati layanan pengecatan bangunan dimanapun dan kapanpun. . .</p>
    </div>
    <hr class="mt-8 md:mt-8 lg:mt-0 2xl:mt-8" />
    <div class="md:flex p-4 justify-center md:justify-start ">
      <router-link to="/TentangKami">
        <button class="bg-green-500 hover:bg-green-600 p-2 rounded-full duration-300">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          viewBox="0 0 39 39"
          fill="none">
          <path
            d="M21.3229 10.125L30.4375 19.5M30.4375 19.5L21.3229 28.875M30.4375 19.5L8.5625 19.5"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </button>
      </router-link>

    </div>
  </div>
  <!--10-->
     <div
    class="md:w-auto xl:w-[300px] 2xl:w-[350px] sm:h-[50vh] md:h-[43vh] lg:h-[45vh] 2xl:h-[35vh] mx-auto bg-gray-100 shadow-xl hover:shadow-none rounded-3xl duration-300 relative p-4 scroll">
    <div
      class="rounded-2xl overflow-hidden w-auto h-auto md:w-24 lg:w-16 2xl:w-24 md:h-auto md:bg-slate-200 ml-0 justify-center flex md:block">
      <!-- img pc -->
      <img
        src="/layananicon/Bangunan.png"
        alt="Deskripsi Gambar"
        class="object-cover w-[7rem] 2xl:w-20 xl:w-20 h-auto md:w-full md:h-full md:flex hidden" />
        <!-- img desktop -->
      <div class="flex justify-center w-24 h-auto bg-slate-200 bg-none rounded-2xl">
        <img
        src="/layananicon/Bangunan.png"
        alt="Deskripsi Gambar"
        class="object-cover w-[7rem] 2xl:w-20 xl:w-20 h-auto md:w-full md:h-full md:hidden " />
      </div>
      
    </div>

    <div
      class="text-center font-bold md:text-start mt-2 text-xl md:text-3xl md:font-semibold text-black xl:text-xl">
      Tukang Bangunan
    </div>

    <div
      class="text-center md:text-start mt-2 !font-normal  md:text-lg text-black h-auto md:h-[12vh] items-center flex xl:text-sm 2xl:text-lg">
      <p>Nikmati pengecekan dan perbaikan bangunan Anda dimanapun dan kapanpun. . .</p>
    </div>
    <hr class="mt-8 md:mt-8 lg:mt-0 2xl:mt-8" />
    <div class="md:flex p-4 justify-center md:justify-start ">
      <router-link to="/TentangKami">
        <button class="bg-green-500 hover:bg-green-600 p-2 rounded-full duration-300">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          viewBox="0 0 39 39"
          fill="none">
          <path
            d="M21.3229 10.125L30.4375 19.5M30.4375 19.5L21.3229 28.875M30.4375 19.5L8.5625 19.5"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </button>
      </router-link>

    </div>
  </div>
  <!--11-->
     <div
    class="md:w-auto xl:w-[300px] 2xl:w-[350px] sm:h-[50vh] md:h-[43vh] lg:h-[45vh] 2xl:h-[35vh] mx-auto bg-gray-100 shadow-xl hover:shadow-none rounded-3xl duration-300 relative p-4 scroll">
    <div
      class="rounded-2xl overflow-hidden w-auto h-auto md:w-24 lg:w-16 2xl:w-24 md:h-auto md:bg-slate-200 ml-0 justify-center flex md:block">
      <!-- img pc -->
      <img
        src="/layananicon/Besi.png"
        alt="Deskripsi Gambar"
        class="object-cover w-[7rem] 2xl:w-20 xl:w-20 h-auto md:w-full md:h-full md:flex hidden" />
        <!-- img desktop -->
      <div class="flex justify-center w-24 h-auto bg-slate-200 bg-none rounded-2xl">
        <img
        src="/layananicon/Besi.png"
        alt="Deskripsi Gambar"
        class="object-cover w-[7rem] 2xl:w-20 xl:w-20 h-auto md:w-full md:h-full md:hidden " />
      </div>
      
    </div>

    <div
      class="text-center font-bold md:text-start mt-2 text-xl md:text-3xl md:font-semibold text-black xl:text-xl">
      Tukang Besi
    </div>

    <div
      class="text-center md:text-start mt-2 !font-normal  md:text-lg text-black h-auto md:h-[12vh] items-center flex xl:text-sm 2xl:text-lg">
      <p>Nikmati pembuatan dan pemasangan perbesian dimanapun dan kapanpun. . .</p>
    </div>
    <hr class="mt-8 md:mt-8 lg:mt-0 2xl:mt-8" />
    <div class="md:flex p-4 justify-center md:justify-start ">
      <router-link to="/TentangKami">
        <button class="bg-green-500 hover:bg-green-600 p-2 rounded-full duration-300">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          viewBox="0 0 39 39"
          fill="none">
          <path
            d="M21.3229 10.125L30.4375 19.5M30.4375 19.5L21.3229 28.875M30.4375 19.5L8.5625 19.5"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </button>
      </router-link>

    </div>
  </div>
  <!--12-->
     <div
    class="md:w-auto xl:w-[300px] 2xl:w-[350px] sm:h-[50vh] md:h-[43vh] lg:h-[45vh] 2xl:h-[35vh] mx-auto bg-gray-100 shadow-xl hover:shadow-none rounded-3xl duration-300 relative p-4 scroll">
    <div
      class="rounded-2xl overflow-hidden w-auto h-auto md:w-24 lg:w-16 2xl:w-24 md:h-auto md:bg-slate-200 ml-0 justify-center flex md:block">
      <!-- img pc -->
      <img
        src="/layananicon/Interior.png"
        alt="Deskripsi Gambar"
        class="object-cover w-[7rem] 2xl:w-20 xl:w-20 h-auto md:w-full md:h-full md:flex hidden" />
        <!-- img desktop -->
      <div class="flex justify-center w-24 h-auto bg-slate-200 bg-none rounded-2xl">
        <img
        src="/layananicon/Interior.png"
        alt="Deskripsi Gambar"
        class="object-cover w-[7rem] 2xl:w-20 xl:w-20 h-auto md:w-full md:h-full md:hidden " />
      </div>
      
    </div>

    <div
      class="text-center font-bold md:text-start mt-2 text-xl md:text-3xl md:font-semibold text-black xl:text-xl">
      Tukang Design Interior
    </div>

    <div
      class="text-center md:text-start mt-2 !font-normal  md:text-lg text-black h-auto md:h-[12vh] items-center flex xl:text-sm 2xl:text-lg">
      <p>Nikmati layanan jasa design interior dimanapun dan kapanpun. . .</p>
    </div>
    <hr class="mt-8 md:mt-8 lg:mt-0 2xl:mt-8" />
    <div class="md:flex p-4 justify-center md:justify-start ">
      <router-link to="/TentangKami">
        <button class="bg-green-500 hover:bg-green-600 p-2 rounded-full duration-300">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          viewBox="0 0 39 39"
          fill="none">
          <path
            d="M21.3229 10.125L30.4375 19.5M30.4375 19.5L21.3229 28.875M30.4375 19.5L8.5625 19.5"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </button>
      </router-link>

    </div>
  </div>
  <!--13-->
     <div
    class="md:w-auto xl:w-[300px] 2xl:w-[350px] sm:h-[50vh] md:h-[43vh] lg:h-[45vh] 2xl:h-[35vh] mx-auto bg-gray-100 shadow-xl hover:shadow-none rounded-3xl duration-300 relative p-4 scroll">
    <div
      class="rounded-2xl overflow-hidden w-auto h-auto md:w-24 lg:w-16 2xl:w-24 md:h-auto md:bg-slate-200 ml-0 justify-center flex md:block">
      <!-- img pc -->
      <img
        src="/layananicon/Gorden.png"
        alt="Deskripsi Gambar"
        class="object-cover w-[7rem] 2xl:w-20 xl:w-20 h-auto md:w-full md:h-full md:flex hidden" />
        <!-- img desktop -->
      <div class="flex justify-center w-24 h-auto bg-slate-200 bg-none rounded-2xl">
        <img
        src="/layananicon/Gorden.png"
        alt="Deskripsi Gambar"
        class="object-cover w-[7rem] 2xl:w-20 xl:w-20 h-auto md:w-full md:h-full md:hidden " />
      </div>
      
    </div>

    <div
      class="text-center font-bold md:text-start mt-2 text-xl md:text-3xl md:font-semibold text-black xl:text-xl">
      Tukang Gorden
    </div>

    <div
      class="text-center md:text-start mt-2 !font-normal  md:text-lg text-black h-auto md:h-[12vh] items-center flex xl:text-sm 2xl:text-lg">
      <p>Nikmati pemasangan dan perbaikan gorden Anda dimanapun dan kapanpun. . .</p>
    </div>
    <hr class="mt-8 md:mt-8 lg:mt-0 2xl:mt-8" />
    <div class="md:flex p-4 justify-center md:justify-start ">
      <router-link to="/TentangKami">
        <button class="bg-green-500 hover:bg-green-600 p-2 rounded-full duration-300">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          viewBox="0 0 39 39"
          fill="none">
          <path
            d="M21.3229 10.125L30.4375 19.5M30.4375 19.5L21.3229 28.875M30.4375 19.5L8.5625 19.5"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </button>
      </router-link>

    </div>
  </div>
  <!--14-->
     <div
    class="md:w-auto xl:w-[300px] 2xl:w-[350px] sm:h-[50vh] md:h-[43vh] lg:h-[45vh] 2xl:h-[35vh] mx-auto bg-gray-100 shadow-xl hover:shadow-none rounded-3xl duration-300 relative p-4 scroll">
    <div
      class="rounded-2xl overflow-hidden w-auto h-auto md:w-24 lg:w-16 2xl:w-24 md:h-auto md:bg-slate-200 ml-0 justify-center flex md:block">
      <!-- img pc -->
      <img
        src="/layananicon/Cucimobil.png"
        alt="Deskripsi Gambar"
        class="object-cover w-[7rem] 2xl:w-20 xl:w-20 h-auto md:w-full md:h-full md:flex hidden" />
        <!-- img desktop -->
      <div class="flex justify-center w-24 h-auto bg-slate-200 bg-none rounded-2xl">
        <img
        src="/layananicon/Cucimobil.png"
        alt="Deskripsi Gambar"
        class="object-cover w-[7rem] 2xl:w-20 xl:w-20 h-auto md:w-full md:h-full md:hidden " />
      </div>
      
    </div>

    <div
      class="text-center font-bold md:text-start mt-2 text-xl md:text-3xl md:font-semibold text-black xl:text-xl">
      Tukang Cuci Mobil
    </div>

    <div
      class="text-center md:text-start mt-2 !font-normal  md:text-lg text-black h-auto md:h-[12vh] items-center flex xl:text-sm 2xl:text-lg">
      <p>Nikmati pembersihan untuk mobil Anda dimanapun dan kapanpun. . .</p>
    </div>
    <hr class="mt-8 md:mt-8 lg:mt-0 2xl:mt-8" />
    <div class="md:flex p-4 justify-center md:justify-start ">
      <router-link to="/TentangKami">
        <button class="bg-green-500 hover:bg-green-600 p-2 rounded-full duration-300">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          viewBox="0 0 39 39"
          fill="none">
          <path
            d="M21.3229 10.125L30.4375 19.5M30.4375 19.5L21.3229 28.875M30.4375 19.5L8.5625 19.5"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </button>
      </router-link>

    </div>
  </div>
  <!--15-->
     <div
    class="md:w-auto xl:w-[300px] 2xl:w-[350px] sm:h-[50vh] md:h-[43vh] lg:h-[45vh] 2xl:h-[35vh] mx-auto bg-gray-100 shadow-xl hover:shadow-none rounded-3xl duration-300 relative p-4 scroll">
    <div
      class="rounded-2xl overflow-hidden w-auto h-auto md:w-24 lg:w-16 2xl:w-24 md:h-auto md:bg-slate-200 ml-0 justify-center flex md:block">
      <!-- img pc -->
      <img
        src="/layananicon/Nailart.png"
        alt="Deskripsi Gambar"
        class="object-cover w-[7rem] 2xl:w-20 xl:w-20 h-auto md:w-full md:h-full md:flex hidden" />
        <!-- img desktop -->
      <div class="flex justify-center w-24 h-auto bg-slate-200 bg-none rounded-2xl">
        <img
        src="/layananicon/Nailart.png"
        alt="Deskripsi Gambar"
        class="object-cover w-[7rem] 2xl:w-20 xl:w-20 h-auto md:w-full md:h-full md:hidden " />
      </div>
      
    </div>

    <div
      class="text-center font-bold md:text-start mt-2 text-xl md:text-3xl md:font-semibold text-black xl:text-xl">
      Tukang Nail Art
    </div>

    <div
      class="text-center md:text-start mt-2 !font-normal  md:text-lg text-black h-auto md:h-[12vh] items-center flex xl:text-sm 2xl:text-lg">
      <p>Nikmati layanan mempercantik kuku Anda dimanapun dan kapanpun. . .</p>
    </div>
    <hr class="mt-8 md:mt-8 lg:mt-0 2xl:mt-8" />
    <div class="md:flex p-4 justify-center md:justify-start ">
      <router-link to="/TentangKami">
        <button class="bg-green-500 hover:bg-green-600 p-2 rounded-full duration-300">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          viewBox="0 0 39 39"
          fill="none">
          <path
            d="M21.3229 10.125L30.4375 19.5M30.4375 19.5L21.3229 28.875M30.4375 19.5L8.5625 19.5"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </button>
      </router-link>

    </div>
  </div>
  <!--16-->
     <div
    class="md:w-auto xl:w-[300px] 2xl:w-[350px] sm:h-[50vh] md:h-[43vh] lg:h-[45vh] 2xl:h-[35vh] mx-auto bg-gray-100 shadow-xl hover:shadow-none rounded-3xl duration-300 relative p-4 scroll">
    <div
      class="rounded-2xl overflow-hidden w-auto h-auto md:w-24 lg:w-16 2xl:w-24 md:h-auto md:bg-slate-200 ml-0 justify-center flex md:block">
      <!-- img pc -->
      <img
        src="/layananicon/Makeup.png"
        alt="Deskripsi Gambar"
        class="object-cover w-[7rem] 2xl:w-20 xl:w-20 h-auto md:w-full md:h-full md:flex hidden" />
        <!-- img desktop -->
      <div class="flex justify-center w-24 h-auto bg-slate-200 bg-none rounded-2xl">
        <img
        src="/layananicon/Makeup.png"
        alt="Deskripsi Gambar"
        class="object-cover w-[7rem] 2xl:w-20 xl:w-20 h-auto md:w-full md:h-full md:hidden " />
      </div>
      
    </div>

    <div
      class="text-center font-bold md:text-start mt-2 text-xl md:text-3xl md:font-semibold text-black xl:text-xl">
      Tukang Makeup
    </div>

    <div
      class="text-center md:text-start mt-2 !font-normal  md:text-lg text-black h-auto md:h-[12vh] items-center flex xl:text-sm 2xl:text-lg">
      <p>Nikmati layanan jasa make up wajah Anda dimanapun dan kapanpun. . .</p>
    </div>
    <hr class="mt-8 md:mt-8 lg:mt-0 2xl:mt-8" />
    <div class="md:flex p-4 justify-center md:justify-start ">

      <router-link to="/TentangKami">
        <button class="bg-green-500 hover:bg-green-600 p-2 rounded-full duration-300">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          viewBox="0 0 39 39"
          fill="none">
          <path
            d="M21.3229 10.125L30.4375 19.5M30.4375 19.5L21.3229 28.875M30.4375 19.5L8.5625 19.5"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </button>
      </router-link>


    </div>
  </div>
</template>
