<script setup>
import navbar from '../components/atas.vue';
import Tabs from '../components/blog/tab.vue';
import kaki from '../components/footer.vue'
import nfund from '../components/404.vue'
import { onMounted } from 'vue';

onMounted(() => {
  // Automatically scroll to the top
  window.scrollTo(0, 0);
});
</script>
<template>
  <navbar />
  <!-- <nfund/> -->
  <nfund />
  <kaki class="mt-5"/>
</template>
