<script setup>
import kaki from '../components/footer.vue';
import navbar from '../components/atas.vue';
import { ref, onMounted } from 'vue';
const showHeroImage = ref(false);

onMounted(() => {
  window.scrollTo(0, 0);

  setTimeout(() => {
    showHeroImage.value = true;
  }, 100);
});
</script>

<template>
  <navbar />
  <main class="pt-0 md:pt-16">
    <!-- Pc -->
    <div
      class="hidden md:flex min-h-screen w-full flex-col items-center justify-between bg-cover bg-center"
      style="background-image: url('/Hero/perkumpulanhp.png')">
      <div
        class="flex items-center justify-start md:flex-row md:h-screen h-scereen w-full md:mt-0 mt-auto">
        <div class="container ml-12 md: flex items-center flex-col md:flex-row w-[120vh]">
          <div class="w-full mb-4 md:mb-0 p-4">
            <h1 class="text-xs lg:text-6xl mb-4 hero z-10 relative text-black sans3">
              Ingin tahu lebih banyak tentang <span class="text-green-500">TukanginAja.id</span>
            </h1>
            <p class="mb-6 fonthero text-black">
              Download Aplikasi <span class="text-green-600">TukanginAja.id</span> untuk memulai percakapan dengan Customer Service Kami
            </p>

            <div class="flex space-x-4 md:space-x-8 mt-5">
              <a href="">
                <img
                  src="/Component/GooglePlay.png"
                  alt="Google Play"
                  class="w-auto h-16 md:h-20" />
              </a>
              <a href="">
                <img
                  src="/Component/AppStore.png"
                  alt="App Store"
                  class="w-auto h-16 md:h-20" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Mobile -->
    <div
      class="flex md:hidden min-h-screen w-full flex-col items-center justify-between bg-cover bg-center">
      <div class="flex items-center justify-start md:flex-row md:h-screen h-scereen w-full mt-48">
        <div class="container md: flex items-center flex-col md:flex-row w-[120vh]">
          <div class="w-full mb-4 md:mb-0 p-4">
            <h1 class="text-3xl font-semibold lg:text-6xl mb-4  z-10 relative text-black sans3">
              Ingin tahu lebih banyak tentang <span class="text-green-500">TukanginAja.id</span>
            </h1>
            <p class="mb-6 fonthero text-black">
              Download Aplikasi <span class="text-green-500">TukanginAja.id</span> untuk memulai percakapan dengan Customer Service Kami
            </p>

            <div class="flex space-x-4 md:space-x-8 mt-5">
              <a href="">
                <img
                  src="/Component/GooglePlay.png"
                  alt="Google Play"
                  class="w-auto h-16 md:h-20" />
              </a>
              <a href="">
                <img
                  src="/Component/AppStore.png"
                  alt="App Store"
                  class="w-auto h-16 md:h-20" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <kaki />
</template>
