<script setup>
import kaki from "../components/home/footer.vue";
import navbar from "../components/atas.vue";
import lingkaran from "../components/icons/lingkaran.vue";
import Card from "../components/home/card.vue";
import testi from "../components/home/testi.vue";
import cs from "../components/home/buttoncs.vue";
import kategori from "../components/home/cardkategori.vue";
import { ref, onMounted } from "vue";

const showHeroImage = ref(false);

onMounted(() => {
	// Automatically scroll to the top
	window.scrollTo(0, 0);

	// Delay the display of the hero image
	setTimeout(() => {
		showHeroImage.value = true;
	}, 100);
});
</script>

<style scoped>
.hero-image-container {
	animation: moveUpDown 2s infinite alternate ease-in-out;
}

@keyframes moveUpDown {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-10px);
	}
}
</style>

<template>
	<navbar />
	<main class="pt-0 md:pt-16">
		<section
			class="flex items-center justify-center w-auto md:flex-row bg-Toko-hijau md:h-screen h-fit"
		>
			<div
				class="container flex flex-col items-center mx-auto mt-16 md:flex-row"
			>
				<div class="w-full p-4 mb-4 md:w-1/2 md:mb-0">
					<div class="relative">
						<div class="hidden md:block lg:hidden 2xl:block">
							<lingkaran />
						</div>

						<h1
							class="mb-4 text-[25px] md:text-[60px] lg:text-[45px] xl:text-[45px] 2xl:text-[60px] sans3 font-semibold z-10 lg:mb-0 relative text-white"
						>
							Karena Semua Masalah, Pasti Ada Tukangnya.
						</h1>
					</div>
					<p class="mb-6 fonthero !text-[20px] md:text-[60px] text-white">
						Sekarang cari tukang lebih mudah dan praktis dengan pesan di
						TukanginAja.id
					</p>
					<!-- button daftar mitra -->
					<button>
						<a
							href="https://docs.google.com/forms/d/14tZw7lt-69rbVdkqyGuGSOoo2aU4TcM24D76wNFugQo/viewform?edit_requested=true"
						>
							<div
								class="bg-white w-[150px] hover:bg-gray-300 shadow-2xl duration-200 p-4 rounded-2xl mx-auto md:mx-0"
							>
								<h1 class="text-center sans3 font-semibold text-[#2CB83B]">
									Daftar Mitra
								</h1>
							</div>
						</a>
					</button>
					<hr class="md:w-[530px] w-full border-t-2 border-white mb-4 mt-4" />
					<div class="flex items-center mt-5">
						<span class="text-white fonthero">Download Aplikasi</span>
					</div>
					<div class="flex mt-5 space-x-4 md:space-x-8">
						<a href="">
							<img
								src="/Component/GooglePlay.png"
								alt="Google Play"
								class="w-auto md:h-20 lg:h-[45px] xl:h-16"
							/>
						</a>
						<a href="">
							<img
								src="/Component/AppStore.png"
								alt="App Store"
								class="w-auto md:h-20 lg:h-[45px] xl:h-16"
							/>
						</a>
					</div>
					<!-- <div class="flex justify-start w-full mt-5 bg-black">
            <a
              href=""
              class="flex items-center h-10 p-4 text-xl text-center text-black bg-white sans3">
              Segara Daftarkan dirimu !
            </a>
          </div> -->
				</div>
				<transition name="fade-left">
					<div
						v-if="showHeroImage"
						class="md:w-1/2 w-full p-4 md:flex justify-end lg:h-[400px] xl:h-[450px] 2xl:h-auto lg:mb-20 lg:justify-center relative mb-8 md:mb-0 hero-image-container"
					>
						<img src="/Hero/Mockup_phone.png" alt="Hero Image" />
					</div>
				</transition>
			</div>
		</section>
		<!--Kenapa Toko Tukang ?-->

		<section class="bg-white">
			<div
				class="grid max-w-screen-xl px-4 pt-20 pb-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12 lg:pt-28"
			>
				<div class="ml-10 lg:col-span-5 lg:flex lg:items-center md:ml-0">
					<img
						src="/Hero/Tukang_di_atas_genteng.png"
						alt="hero image"
						class="hidden w-full mx-auto md:block"
					/>
				</div>

				<div class="lg:col-span-7 lg:pl-8">
					<h1
						class="max-w-2xl mb-4 text-4xl font-extrabold leading-none tracking-tight text-center md:text-start md:text-5xl xl:text-6xl sans3"
					>
						Kenapa pesan di <span class="text-green-500">TukanginAja.id </span>?
					</h1>

					<div class="flex flex-col items-start">
						<div class="flex items-center mt-10 mb-4">
							<!-- Palu -->
							<img src="/Tukang_Segala_Icon/Tukang.png" alt="Palu Icon" />
							<p class="ml-4 mr-0 fonthero">Tukang Bersertifikasi</p>
						</div>
						<div class="flex items-center mb-4">
							<!-- Group -->
							<img src="/Tukang_Segala_Icon/Pelayanan.png" alt="Palu Icon" />
							<p class="ml-4 mr-0 fonthero">
								Pembayaran Sekali Bayar untuk semua pekerjaan
							</p>
						</div>
						<div class="flex items-center mb-4">
							<!-- Jam -->
							<img src="/Tukang_Segala_Icon/Waktu.png" alt="Palu Icon" />
							<p class="ml-4 mr-0 fonthero">
								Same-day Service (Pesan hari ini, datang hari ini juga)
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- KATEGORI -->
		<section class="w-full">
			<div class="container mx-auto">
				<h1 class="text-center text-black fontabout">
					Kategori layanan terbaik Kami
				</h1>
				<div class="flex items-center justify-center pt-10 pb-10">
					<!-- CARD -->
					<kategori />
				</div>
			</div>
		</section>

		<!--Layanan-->
		<section class="w-full mt-5 md:mt-24">
			<div class="container mx-auto">
				<h1 class="mb-5 text-center text-black fontabout">
					Apa aja nih layanan paling populer?
				</h1>
				<p class="text-center text-white fonthero">
					Yuk, dicek koleksi tukang populer, favoritnya klien, dan penawaran
					terbaik kami di lokasimu!
				</p>
				<div class="flex items-center justify-center pt-10 pb-10">
					<div
						class="grid grid-cols-1 p-6 md:p-10 gap-x-8 md:gap-x-24 gap-y-10 md:grid-cols-3"
					>
						<!--Card-->
						<Card />
						<!--End Card-->
					</div>
				</div>
			</div>
		</section>

		<section class="w-full p-0 bg-white md:p-0">
			<h1 class="text-center text-black fontabout">
				Cerita <span class="text-green-600"> Mereka</span>
			</h1>
			<testi />
		</section>
		<!--Footer-->
		<div class="mt-0 pt-96">
			<kaki></kaki>
		</div>

		<cs />
	</main>
</template>
