<script setup>
import kaki from '../components/footer.vue';
import navbar from '../components/atas.vue';
import { ref, onMounted } from 'vue';

const showHeroImage = ref(false);

onMounted(() => {
  // Automatically scroll to the top
  window.scrollTo(0, 0);

  // Delay the display of the hero image
  setTimeout(() => {
    showHeroImage.value = true;
  }, 100);
});
</script>
<template>
  <navbar />
  <main class="pt-0 md:pt-10 bg-white relative z-40">
    <div class="relative h-screen text-white overflow-hidden">
      <div class="absolute inset-0">
        <img src="/other/Kontak.png" alt="Background Image" class="object-cover object-center w-full h-full" />
        <div class="absolute inset-0"></div>
      </div>

      <div class="relative z-10 flex flex-col justify-center items-center h-full text-center">
        <h1 class=" lg:text-6xl font-bold leading-tight mb-4 sans3 text-3xl md:text-5xl lg:w-1/2 md:w-full">
          Hubungi Kami Dengan <br />Cepat, Mudah, dan Praktis
        </h1>
      </div>
    </div>
    <!--END HERO-->

    <section class="w-full bg-white">
      <h1 class="sans3 md:text-7xl font-semibold text-xl p-4 text-black text-center md:pt-20 pt-10 mb-5">
        Butuh Bantuan ? Hubungi Kami
      </h1>
      <!-- PC -->
      <div class=" hidden md:flex items-center justify-center py-10">
        <div class="grid gap-x-10 gap-y-10 grid-cols-1 md:grid-cols-3 px-10 md:px-0 w-full max-w-6xl">
          <!--card 1-->
          <div
            class="group relative w-full overflow-hidden bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 transition-all duration-300 hover:-translate-y-1 hover:shadow-2xl sm:mx-auto sm:max-w-sm sm:rounded-lg sm:px-10">
            <span
              class="absolute top-10 z-0 h-20 w-20 rounded-full bg-green-500 transition-all duration-300 group-hover:scale-[10]"></span>
            <div class="relative z-10 mx-auto max-w-md">
              <div class="flex items-center space-x-4">
                <span
                  class="grid h-20 w-20 place-items-center rounded-full bg-green transition-all duration-300 group-hover:bg-green-400">
                  <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35" fill="none">
                    <path
                      d="M17.4998 0.625001C14.5722 0.624015 11.6946 1.38473 9.14988 2.83239C6.60517 4.28005 4.48087 6.36485 2.98571 8.88194C1.49055 11.399 0.675966 14.2618 0.622008 17.189C0.568049 20.1162 1.27657 23.007 2.67795 25.5775L0.681072 32.5806C0.610808 32.8265 0.608936 33.0869 0.675658 33.3338C0.74238 33.5807 0.875169 33.8048 1.05973 33.9818C1.2443 34.1588 1.47365 34.2822 1.72311 34.3386C1.97256 34.395 2.23267 34.3823 2.47545 34.3019L9.05107 32.1109C11.2922 33.406 13.8013 34.1682 16.3841 34.3385C18.967 34.5087 21.5544 34.0825 23.9462 33.0929C26.338 32.1032 28.47 30.5766 30.1774 28.6311C31.8848 26.6856 33.1218 24.3734 33.7926 21.8734C34.4635 19.3734 34.5502 16.7526 34.0461 14.2137C33.542 11.6748 32.4606 9.2859 30.8856 7.23179C29.3105 5.17769 27.2841 3.51345 24.963 2.36781C22.6418 1.22218 20.0883 0.625866 17.4998 0.625001ZM11.8748 14.6875C11.8748 14.3145 12.023 13.9569 12.2867 13.6931C12.5504 13.4294 12.9081 13.2813 13.2811 13.2813H21.7186C22.0915 13.2813 22.4492 13.4294 22.7129 13.6931C22.9767 13.9569 23.1248 14.3145 23.1248 14.6875C23.1248 15.0605 22.9767 15.4181 22.7129 15.6819C22.4492 15.9456 22.0915 16.0938 21.7186 16.0938H13.2811C12.9081 16.0938 12.5504 15.9456 12.2867 15.6819C12.023 15.4181 11.8748 15.0605 11.8748 14.6875ZM13.2811 18.9063H18.9061C19.279 18.9063 19.6367 19.0544 19.9004 19.3181C20.1642 19.5819 20.3123 19.9395 20.3123 20.3125C20.3123 20.6855 20.1642 21.0431 19.9004 21.3069C19.6367 21.5706 19.279 21.7188 18.9061 21.7188H13.2811C12.9081 21.7188 12.5504 21.5706 12.2867 21.3069C12.023 21.0431 11.8748 20.6855 11.8748 20.3125C11.8748 19.9395 12.023 19.5819 12.2867 19.3181C12.5504 19.0544 12.9081 18.9063 13.2811 18.9063Z"
                      fill="white" />
                  </svg>
                </span>
                <div>
                  <h2 class="text-2xl font-semibold text-Black transition-all duration-300 group-hover:text-white sans3">
                    Costumer Service
                  </h2>
                  <p class="text-green-500 group-hover:text-white text-lg">0811-328-8966</p>
                </div>
              </div>
              <div class="text-base font-semibold leading-7 h-36 flex items-end justify-center">
                <p>
                  <a href="https://wa.me/+628113288966?text=Halo%20kak,%20saya%20ingin%20bertanya-tanya%20mengenai%20TukanginAja"
                    class="text-black p-4 rounded-2xl sans3 px-10 transition-all duration-300 group-hover:text-white bg-slate-300 group-hover:bg-gray-600">Costumer
                    Service
                  </a>
                </p>
              </div>
            </div>
          </div>


          <!--card 3 -->
          <div class="">
            <!-- <span
              class="absolute top-10 z-0 h-20 w-20 rounded-full bg-green-500 transition-all duration-300 group-hover:scale-[10]"></span>
            <div class="relative z-10 mx-auto max-w-md">
              <div class="flex items-center space-x-4">
                <span
                  class="grid h-20 w-20 place-items-center rounded-full bg-green transition-all duration-300 group-hover:bg-green-400">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="35"
                    height="35"
                    viewBox="0 0 35 35"
                    fill="none">
                    <path
                      d="M17.4998 0.625001C14.5722 0.624015 11.6946 1.38473 9.14988 2.83239C6.60517 4.28005 4.48087 6.36485 2.98571 8.88194C1.49055 11.399 0.675966 14.2618 0.622008 17.189C0.568049 20.1162 1.27657 23.007 2.67795 25.5775L0.681072 32.5806C0.610808 32.8265 0.608936 33.0869 0.675658 33.3338C0.74238 33.5807 0.875169 33.8048 1.05973 33.9818C1.2443 34.1588 1.47365 34.2822 1.72311 34.3386C1.97256 34.395 2.23267 34.3823 2.47545 34.3019L9.05107 32.1109C11.2922 33.406 13.8013 34.1682 16.3841 34.3385C18.967 34.5087 21.5544 34.0825 23.9462 33.0929C26.338 32.1032 28.47 30.5766 30.1774 28.6311C31.8848 26.6856 33.1218 24.3734 33.7926 21.8734C34.4635 19.3734 34.5502 16.7526 34.0461 14.2137C33.542 11.6748 32.4606 9.2859 30.8856 7.23179C29.3105 5.17769 27.2841 3.51345 24.963 2.36781C22.6418 1.22218 20.0883 0.625866 17.4998 0.625001ZM11.8748 14.6875C11.8748 14.3145 12.023 13.9569 12.2867 13.6931C12.5504 13.4294 12.9081 13.2813 13.2811 13.2813H21.7186C22.0915 13.2813 22.4492 13.4294 22.7129 13.6931C22.9767 13.9569 23.1248 14.3145 23.1248 14.6875C23.1248 15.0605 22.9767 15.4181 22.7129 15.6819C22.4492 15.9456 22.0915 16.0938 21.7186 16.0938H13.2811C12.9081 16.0938 12.5504 15.9456 12.2867 15.6819C12.023 15.4181 11.8748 15.0605 11.8748 14.6875ZM13.2811 18.9063H18.9061C19.279 18.9063 19.6367 19.0544 19.9004 19.3181C20.1642 19.5819 20.3123 19.9395 20.3123 20.3125C20.3123 20.6855 20.1642 21.0431 19.9004 21.3069C19.6367 21.5706 19.279 21.7188 18.9061 21.7188H13.2811C12.9081 21.7188 12.5504 21.5706 12.2867 21.3069C12.023 21.0431 11.8748 20.6855 11.8748 20.3125C11.8748 19.9395 12.023 19.5819 12.2867 19.3181C12.5504 19.0544 12.9081 18.9063 13.2811 18.9063Z"
                      fill="white" />
                  </svg>
                </span>
                <div>
                  <h2
                    class="text-2xl font-semibold text-Black transition-all duration-300 group-hover:text-white sans3">
                    Pesan
                  </h2>
                  <p class="text-green-500 group-hover:text-white text-lg">+6287773928071</p>
                </div>
              </div>
              <div class="text-base font-semibold leading-7 h-36 flex items-end justify-center">
                <p>
                  <a
                    href="#"
                    class="text-black p-4 rounded-2xl sans3 px-16 transition-all duration-300 group-hover:text-white bg-slate-300 group-hover:bg-gray-600"
                    >Pesan sekarang
                  </a>
                </p>
              </div>
            </div> -->
          </div>

          <!--card 2-->
          <div
            class="group relative w-full overflow-hidden bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 transition-all duration-300 hover:-translate-y-1 hover:shadow-2xl sm:mx-auto sm:max-w-sm sm:rounded-lg sm:px-10">
            <span
              class="absolute top-10 z-0 h-20 w-20 rounded-full bg-green-500 transition-all duration-300 group-hover:scale-[10]"></span>
            <div class="relative z-10 mx-auto max-w-md">
              <div class="flex items-center space-x-4">
                <span
                  class="grid h-20 w-20 place-items-center rounded-full bg-green transition-all duration-300 group-hover:bg-green-400">
                  <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 45 45" fill="none">
                    <g clip-path="url(#clip0_548_24145)">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M16.137 25.5015L22.5045 29.8552L28.6425 25.6208L42.4012 39.195C42.039 39.312 41.652 39.375 41.2493 39.375H3.75075C3.25575 39.375 2.78325 39.2782 2.349 39.105L16.137 25.5015ZM45 14.346V35.6243C45 36.18 44.8785 36.7065 44.6625 37.1812L31.176 23.8748L45 14.346ZM2.1231e-06 14.4653L13.5945 23.7622L0.238502 36.9428C0.0803176 36.5212 -0.000477525 36.0745 2.1231e-06 35.6243V14.4653ZM41.2493 5.625C43.3193 5.625 45 7.3035 45 9.37575V10.6942L22.4955 26.208L2.1231e-06 10.8225V9.37575C2.1231e-06 7.30575 1.6785 5.625 3.75075 5.625H41.2493Z"
                        fill="white" />
                    </g>
                    <defs>
                      <clipPath id="clip0_548_24145">
                        <rect width="45" height="45" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                </span>
                <div>
                  <h2 class="text-2xl font-semibold text-Black transition-all duration-300 group-hover:text-white sans3">
                    Email
                  </h2>
                  <p class="text-green-500 group-hover:text-white">tukanginaja@gmail.com</p>
                </div>
              </div>
              <div class="text-base font-semibold leading-7 h-36 flex items-end justify-center">
                <p>
                  <a href="mailto:cs.tukanginaja@gmail.com?subject=Saya%20mau%20tanya%20mengenai%20TukanginAja&body=Saya%20mau%20tanya%20nih%20kak%20mengenai%20TukanginAja"
                    class="text-black p-4 rounded-2xl sans3 px-16 transition-all duration-300 group-hover:text-white bg-slate-300 group-hover:bg-gray-600">Email
                    sekarang
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- mobile -->
      <!-- 1 -->
      <div
        class=" bordear-2 border-gray-950  md:hidden max-w-2xl mx-4 sm:max-w-sm md:max-w-sm lg:max-w-sm xl:max-w-sm sm:mx-auto md:mx-auto lg:mx-auto xl:mx-auto mt-16 bg-white shadow-xl rounded-lg text-gray-900">

        <div
          class="mx-auto w-24 h-24 relative bg-green-500 -mt-16 border-4 border-green-500 rounded-full overflow-hidden">
          <div class="h-24 flex items-center justify-center"> <!-- Modified this line -->
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 26 26" fill="none">
              <g clip-path="url(#clip0_3315_45328)">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M9.3236 14.7342L13.0026 17.2497L16.549 14.8031L24.4985 22.646C24.2892 22.7136 24.0656 22.75 23.8329 22.75H2.1671C1.8811 22.75 1.6081 22.6941 1.3572 22.594L9.3236 14.7342ZM26 8.2888V20.5829C26 20.904 25.9298 21.2082 25.805 21.4825L18.0128 13.7943L26 8.2888ZM1.22668e-06 8.3577L7.8546 13.7293L0.137801 21.3447C0.0464057 21.1011 -0.000275903 20.8431 1.22668e-06 20.5829V8.3577ZM23.8329 3.25C25.0289 3.25 26 4.2198 26 5.4171V6.1789L12.9974 15.1424L1.22668e-06 6.253V5.4171C1.22668e-06 4.2211 0.969801 3.25 2.1671 3.25H23.8329Z"
                  fill="white" />
              </g>
              <defs>
                <clipPath id="clip0_3315_45328">
                  <rect width="32" height="32" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </div>

        </div>
        <div class="text-center mt-5">
          <h2 class="font-semibold sans3 text-xl ">EMAIL</h2>
          <p class="text-gray-500 sans3 text-xl">cs.tukanginaja@gmail.com</p>
        </div>

        <div class="p-4 border-t mx-8 mt-2">
          <a
            href="mailto:cs.tukanginaja@gmail.com?subject=Saya%20mau%20tanya%20mengenai%20TukanginAja&body=Saya%20mau%20tanya%20nih%20kak%20mengenai%20TukanginAja">
            <button
              class="w-auto block mx-auto rounded-full bg-green-600 hover:shadow-lg font-semibold text-white px-6 py-2">Email
              Sekarang</button>
          </a>
        </div>
      </div>
      <!-- 2 -->
      <div
        class=" bordear-2  pt-10 border-gray-950  md:hidden max-w-2xl mx-4 sm:max-w-sm md:max-w-sm lg:max-w-sm xl:max-w-sm sm:mx-auto md:mx-auto lg:mx-auto xl:mx-auto mt-16 bg-white shadow-xl rounded-lg text-gray-900">

        <div
          class="mx-auto w-24 h-24 relative bg-green-500 -mt-16 border-4 border-green-500 rounded-full overflow-hidden">
          <div class="h-24 flex items-center justify-center"> <!-- Modified this line -->
            <svg width="45" height="45" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M10.0004 0.250001C8.30881 0.249431 6.64622 0.688952 5.17594 1.52538C3.70567 2.3618 2.47829 3.56636 1.61442 5.02068C0.750549 6.475 0.279903 8.12905 0.248727 9.8203C0.217551 11.5116 0.626917 13.1818 1.4366 14.667L0.282853 18.7133C0.242256 18.8553 0.241175 19.0058 0.279725 19.1484C0.318275 19.2911 0.394998 19.4205 0.501635 19.5228C0.608273 19.6251 0.740787 19.6964 0.884916 19.729C1.02905 19.7616 1.17933 19.7542 1.3196 19.7078L5.11885 18.4419C6.41375 19.1901 7.86343 19.6305 9.35574 19.7289C10.8481 19.8273 12.343 19.581 13.7249 19.0092C15.1068 18.4374 16.3387 17.5554 17.3252 16.4313C18.3117 15.3072 19.0264 13.9713 19.414 12.5269C19.8016 11.0824 19.8517 9.56816 19.5604 8.10124C19.2692 6.63433 18.6444 5.25407 17.7343 4.06726C16.8243 2.88044 15.6535 1.91888 14.3124 1.25696C12.9713 0.595038 11.4959 0.2505 10.0004 0.250001ZM6.75035 8.375C6.75035 8.15951 6.83596 7.95285 6.98833 7.80048C7.1407 7.6481 7.34737 7.5625 7.56285 7.5625H12.4379C12.6533 7.5625 12.86 7.6481 13.0124 7.80048C13.1648 7.95285 13.2504 8.15951 13.2504 8.375C13.2504 8.59049 13.1648 8.79715 13.0124 8.94952C12.86 9.1019 12.6533 9.1875 12.4379 9.1875H7.56285C7.34737 9.1875 7.1407 9.1019 6.98833 8.94952C6.83596 8.79715 6.75035 8.59049 6.75035 8.375ZM7.56285 10.8125H10.8129C11.0283 10.8125 11.235 10.8981 11.3874 11.0505C11.5398 11.2028 11.6254 11.4095 11.6254 11.625C11.6254 11.8405 11.5398 12.0472 11.3874 12.1995C11.235 12.3519 11.0283 12.4375 10.8129 12.4375H7.56285C7.34737 12.4375 7.1407 12.3519 6.98833 12.1995C6.83596 12.0472 6.75035 11.8405 6.75035 11.625C6.75035 11.4095 6.83596 11.2028 6.98833 11.0505C7.1407 10.8981 7.34737 10.8125 7.56285 10.8125Z"
                fill="white" />
            </svg>

          </div>
        </div>

        <div class="text-center mt-5">
          <h2 class="font-semibold sans3 text-xl ">Costumer Service</h2>
          <p class="text-gray-500 sans3 text-xl">0811-328-8966</p>
        </div>

        <div class="p-4 border-t mx-8 mt-2">
          <a href="https://wa.me/+628113288966?text=Halo%20kak,%20saya%20ingin%20bertanya-tanya%20mengenai%20TukanginAja">
            <button
              class="w-auto block mx-auto rounded-full bg-green-600 hover:shadow-lg font-semibold text-white px-6 py-2">Costumer
              Service</button>
          </a>
        </div>
      </div>

    </section>
    <div class="mt-14">
      <kaki />
    </div>

  </main>
</template>
