<script setup>
import kaki from '../components/footer.vue';
import navbar from '../components/atas.vue';
import Layanan from '../components/layanankami/layanan.vue';
import Keuntungan from '../components/layanankami/keuntungan.vue';
import playstore from '../components/icons/playstore.vue';
import appstore from '../components/icons/appstore.vue';
import tangan from '../components/icons/salim.vue';
import Konstruksi from '../components/icons/konstruksi.vue';
import android from '../components/icons/android.vue';
import cs from '../components/home/buttoncs.vue';
import { ref, onMounted } from 'vue';

const showHeroImage = ref(false);

onMounted(() => {
  // Automatically scroll to the top
  window.scrollTo(0, 0);

  // Delay the display of the hero image
  setTimeout(() => {
    showHeroImage.value = true;
  }, 100);
});
</script>
<template>
  <navbar class="z-[9999]" />
  <!-- <nfund/> -->
  <main class="pt-20 md:pt-16">
    <!-- PC -->
    <div
      class="min-h-screen md:flex flex-col items-center justify-between bg-cover bg-center hidden"
      style="background-image: url('/Mitra/1.png')">
      <div class="text-center mt-[43vh] md:mt-16">
        <h1 class="text-5xl md:text-7xl font-bold text-white mb-4">
          Mari Bergabung <br />
          Bersama Kami
        </h1>
      </div>

      <div class="grid grid-cols-2 gap-4 w-full">
        <div class="sm:hidden hidden md:flex items-center justify-end mt-36 w-full ml-60">
          <img
            src="/Mitra/android.png"
            alt="Android Logo"
            class="h-[60vh]" />
        </div>
        <div class="sm:hidden hidden md:flex flex-col w-1/2 ml-60 mt-40 justify-center">
          <a
            class="mb-5 mt-5"
            href="link_ke_google_play_store"
            target="_blank">
            <playstore />
          </a>
          <a
            href="link_ke_app_store"
            target="_blank">
            <appstore />
          </a>
        </div>
      </div>
    </div>

    <!-- Mobile -->
    <section class="bg-hero_tentangkami bg-cover" style="background-image: url('/Mitra/1.png')">
      <div class="flex items-center md:h-screen h-fit w-auto">
        <div class="container mx-auto flex mt-16 items-center flex-col md:flex-row relative md:z-[99] z-99 p-5 md:p-0">
          <!-- Bagian Teks di Sisi Kiri -->
          <div class="w-full mb-4 md:mb-0 p-4 pt-10">
            <h1 class="text-lg md:text-7xl font-semibold mb-4 text-white  md:z-10 z-10 text-center sans3">
              Mari Bergabung <br />
          Bersama Kami
            </h1>
          </div>
        </div>
      </div>
    </section>

    <!-- carrd  -->

    <!-- CARD MITRA -->

    <div class="mx-auto max-w-6xl px-4 py-4 sm:px-6 md:px-24 md:py-16 lg:px-8 lg:py-20">
      <div class="row-gap-8 grid grid-cols-2 md:grid-cols-4 bg-[#CCEED0] p-2 rounded-2xl shadow-xl">
        <div class="mb-12 text-center md:mb-0 md:border-r-2 border-[#2BB83A]">
          <div class="fontlogo !text-[2.6rem] !font-bold text-black !lg:text-5xl !xl:text-5xl">
            2 Provinsi
          </div>
          <p class="text-sm !font-semibold fontlogo tracking-widest text-black lg:text-base">
            Sebaran Mitra
          </p>
        </div>

        <div class="mb-12 text-center md:mb-0 md:border-r-2 border-[#2BB83A]">
          <div class="fontlogo !text-[2.6rem] !font-bold text-black !lg:text-5xl !xl:text-5xl">
            16
          </div>
          <p class="text-sm !font-semibold fontlogo tracking-widest text-black lg:text-base">
            Produk Layanan
          </p>
        </div>

        <div class="mb-12 text-center md:mb-0 md:border-r-2 border-[#2BB83A]">
          <div class="fontlogo !text-[2.6rem] !font-bold text-black !lg:text-5xl !xl:text-5xl">
            100+
          </div>
          <p class="text-sm !font-semibold fontlogo tracking-widest text-black lg:text-base">
            Mitra Regular
          </p>
        </div>

        <div class="mb-12 text-center md:mb-0 md:border-r-2">
          <div class="fontlogo !text-[2.6rem] !font-bold text-black !lg:text-5xl !xl:text-5xl">
            100+
          </div>
          <p class="text-sm !font-semibold fontlogo tracking-widest text-black lg:text-base">
            Mitra Tukang
          </p>
        </div>
      </div>
    </div>

    <!-- , -->

    <div class="w-full bg-white">
      <div class="container mx-auto px-4 py-8">
        <div class="flex flex-col md:flex-row items-center space-y-8 md:space-y-0 md:space-x-8">
          <!-- Sisi Kanan: Gambar -->
          <div class="md:w-full">
            <h2 class="mb-4 sans3 text-3xl md:text-7xl font-semibold">Cara Jadi Mitra Tukang</h2>
            <p class="sans3 text-lg md:text-3xl text-black font-normal text-start">
              Tertarik untuk menjadi bagian kami? Ayo jadi tukang kami! Dengan menjadi mitra tukang,
              kamu akan mendapatkan pekerjaan dengan lebih mudah, cepat, dan aman.
            </p>
            <div class="my-5 mx-0 bg-Toko-hijau rounded-xl">
              <p class="sans3 text-2xl text-white px-10 py-4">
                1. Daftarkan akun Anda melalui aplikasi Mitra Tukang
              </p>
            </div>
            <div class="my-5 mx-0 bg-Toko-hijau rounded-xl">
              <p class="sans3 text-2xl text-white px-10 py-4">
                2. Mengikuti Seminar K3 dan Sosialisasi yg diadakan TukanginAja.id
              </p>
            </div>
            <div class="my-5 mx-0 bg-Toko-hijau rounded-xl">
              <p class="sans3 text-2xl text-white px-10 py-4">
                3. Apabila akun Anda sudah tervalidasi, Anda siap untuk menerima orderan
              </p>
            </div>
          </div>
          <!-- Sisi Kiri: Teks -->
          <div class="md:w-1/2 flex justify-center">
            <konstruksi />
          </div>
        </div>
      </div>
    </div>

    <div class="flex items-center justify-center md:flex-row bg-white md:h-screen h-fit w-auto">
      <div class="container mx-auto flex items-center flex-col md:flex-row">
        <!-- Gambar -->
        <transition name="fade-left">
          <div
            v-if="showHeroImage"
            class="md:w-1/2 w-full md:flex justify-end relative mb-8 md:mb-0 hidden">
            <img
              src="/Mitra/android2.png"
              alt="" />
          </div>
        </transition>
        <div class="w-full mb-4 md:mb-0 p-4">
          <h2 class="text-3xl font-semibold md:text-5xl lg:text-5xl mb-4 sans3 z-10 relative text-black sans3">
            <span class="text-green-500"># Jadi Mitra Tukang</span>
          </h2>
          <h1 class=" sans3 text-2xl md:text-6xl font-semibold">Mari Bergabung Dan Dapatkan</h1>
          <h1 class="mb-4 sans3 text-2xl md:text-6xl font-semibold">Keuntungan Maksimal</h1>

          <div class="flex items-center mt-10">
            <h1 class="fonthero text-black sans3">Download Aplikasi Mitra Tukang Disini</h1>
          </div>
          <div class="flex space-x-4 md:space-x-8 mt-5">
            <a href="">
              <img
                src="/Component/GooglePlay.png"
                alt="Google Play"
                class="w-auto h-16 md:h-20" />
            </a>
            <a href="">
              <img
                src="/Component/AppStore.png"
                alt="App Store"
                class="w-auto h-16 md:h-20" />
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- CARD TEXT KEUNTUNGAN -->
    <div class="bg-white py-10 px-20 h-fit">
      <!-- Judul -->
      <h2 class="text-center text-2xl md:text-5xl font-semibold text-black mb-20 sans3">
        Cerita Mereka Setelah <span class="text-green-500">Bergabung</span>
      </h2>

      <!-- Cards Container -->
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 mt-10">
        <!-- Card 1 -->
        <div
          class="bg-white rounded-3xl shadow-lg overflow-hidden flex flex-col items-center justify-center">
          <img
            src="/public/Mitra/orang1.png"
            alt="Gambar 1"
            class="object-cover h-40 w-40 p-5" />
          <hr class="my-2 w-[280.007px] border-t-2 border-green-500" />
          <div class="p-4 w-full">
            <h3 class="font-semibold mb-3 text-center sans3 text-3xl">Rama Dwi</h3>
            <p class="text-gray-600 text-center sans3 text-xl">
              Adanya tukangsegala sangat berpengaruh bagi saya dan keluarga saya. Saya dengan cepat
              mendapatkan orderan. Senang bisa menjadi bagian dari tukangsegala.
            </p>
            <h3 class="font-semibold mb-3 text-center sans3 text-3xl mt-7">Tukang Listrik</h3>
          </div>
        </div>

        <!-- Card 2 -->
        <div
          class="bg-white rounded-3xl shadow-lg overflow-hidden flex flex-col items-center justify-center">
          <img
            src="/public/Mitra/orang2.png"
            alt="Gambar 1"
            class="object-cover h-40 w-40 p-5" />
          <hr class="my-2 w-[280.007px] border-t-2 border-green-500" />
          <div class="p-4 w-full">
            <h3 class="font-semibold mb-3 text-center sans3 text-3xl">Sinta Raniba</h3>
            <p class="text-gray-600 text-center sans3 text-xl">
              Pengalaman kerja saya bertambah dengan ikut serta di Tukangsegala. Terimakasih telah
              memberi wadah untuk kami.
            </p>
            <h3 class="font-semibold mb-3 text-center sans3 text-3xl mt-7">Tukang Makeup</h3>
          </div>
        </div>

        <!-- Card 3 -->
        <div
          class="bg-white rounded-3xl shadow-lg overflow-hidden flex flex-col items-center justify-center">
          <img
            src="/public/Mitra/orang3.png"
            alt="Gambar 1"
            class="object-cover h-40 w-40 p-5" />
          <hr class="my-2 w-[280.007px] border-t-2 border-green-500" />
          <div class="p-4 w-full">
            <h3 class="font-semibold mb-3 text-center sans3 text-3xl">Febriansyah</h3>
            <p class="text-gray-600 text-center sans3 text-xl">
              Saya sangat amat terbantu dalam mencari pekerjaan sesuai dengan bidang keahlian saya.
            </p>
            <h3 class="font-semibold mb-3 text-center sans3 text-3xl mt-7">
              Tukang Design Interior
            </h3>
          </div>
        </div>
      </div>
    </div>

    <!-- FOOTER -->
    <kaki />
  </main>
  <cs />
</template>
