<script setup>
import kaki from '../components/footer.vue';
import navbar from '../components/atas.vue';
import card from '../components/tentangkami/card.vue';
import marquee from '../components/tentangkami/marquee.vue';
import lokasi from '../components/tentangkami/lokasi.vue';
import cs from '../components/home/buttoncs.vue';
import { ref, onMounted } from 'vue';

const showHeroImage = ref(false);

onMounted(() => {
  // Automatically scroll to the top
  window.scrollTo(0, 0);

  // Delay the display of the hero image
  setTimeout(() => {
    showHeroImage.value = true;
  }, 100);
});
</script>

<template>
  <navbar class="z-50" />

  <main class="pt-0 md:pt-10 bg-white relative z-40">
    <!--HERO-->
    <section class="bg-hero_tentangkami bg-cover">
      <div class="flex items-center md:h-screen h-fit w-auto">
        <div class="container mx-auto flex mt-16 items-center flex-col md:flex-row relative md:z-[99] z-99 p-5 md:p-0">
          <!-- Bagian Teks di Sisi Kiri -->
          <div class="w-full mb-4 md:mb-0 p-4 pt-10">
            <h1 class="text-lg md:text-7xl font-semibold mb-4 text-white  md:z-10 z-10 text-center sans3">
              Ketahui lebih dalam tentang kami
            </h1>
          </div>
        </div>
      </div>
    </section>

    <!-- ABOUT TUKANG SEGALA ! PC-->
    <section class="w-full bg-white p-4 mt-20 hidden md:flex ">
      <div class="container mx-auto px-4 py-8  md:p-0 border-4 border-green-500 rounded-3xl  bg-layanan bg-cover  ">
        <div class="flex flex-col md:flex-row items-center space-y-8 md:space-y-0 md:space-x-8 p-16">

                                    <!-- Sisi Kanan: Gambar -->
                                    <div class="md:w-1/2 md:flex justify-center  ">
            <img src="/kami/hp.png" alt="Logo" class=" shadow-xl " />
          </div>

          <!-- Sisi Kiri: Teks -->
          <div class="md:w-full p-10">
            <!-- <div class="absolute  p-2 lg:-mt-[5.5rem] bg-white rounded-2xl  md:-mt-[6.5rem] -mt-[7rem] -ml-[-0.3rem] shadow-xl ">

            </div> -->
            <h2 class="mb-4 sans3 text-2xl text-center  md:text-7xl  xl:text-5xl  font-semibold text-green-500">TukanginAja.id</h2>
            <hr class="bg-green-500 h-1 mt-4 mb-4">
            
            <p class="sans3 text-lg md:pt-10 lg:pt-0  md:text-3xl xl:text-2xl text-black font-normal  text-justify">
              <span class="text-[#2BB83A]">TukanginAja.id</span>
               merupakan one stop apps untuk kebutuhan segala jenis pertukangan. Kami memfasilitasi
              interaksi tukang dengan konsumen yang membutuhkan layanan jasa seperti Tukang AC, Tukang Listrik, Tukang
              Pipa, dan jenis tukang lainnya. Dapatkan kemudahan dalam mencari segala jenis tukang dalam satu platform,
              hanya di <span class="text-[#2BB83A]">TukanginAja.id</span>  Karena setiap masalah, selalu ada tukangnya.
            </p>
          </div>
    


        </div>
        
      </div>
    </section>

        <!-- ABOUT TUKANG SEGALA ! MOBILE-->
        <section class="w-full bg-white p-4 mt-20 block md:hidden ">
      <div class="container mx-auto px-4 py-8  md:p-0 border-4 border-green-500 rounded-3xl  bg-layanan bg-cover  ">
        <div class="flex flex-col md:flex-row items-center space-y-8 md:space-y-0 md:space-x-8 ">
          <!-- Sisi Kiri: Teks -->
          <div class="md:w-full">
            <!-- <div class="absolute  p-2 lg:-mt-[5.5rem] bg-white rounded-2xl  md:-mt-[6.5rem] -mt-[7rem] -ml-[-0.3rem] shadow-xl ">

            </div> -->
            <h2 class=" sans3 text-2xl text-center  md:text-7xl  xl:text-5xl  font-semibold text-green-500">TukanginAja.id</h2>
            <hr class="bg-green-500  mt-4 mb-4">
            
            <p class="sans3 text-lg  md:text-3xl xl:text-2xl text-black font-normal  text-justify">
              <span class="text-[#2BB83A]">TukanginAja.id</span>
               merupakan one stop apps untuk kebutuhan segala jenis pertukangan. Kami memfasilitasi
              interaksi tukang dengan konsumen yang membutuhkan layanan jasa seperti Tukang AC, Tukang Listrik, Tukang
              Pipa, dan jenis tukang lainnya. Dapatkan kemudahan dalam mencari segala jenis tukang dalam satu platform,
              hanya di <span class="text-[#2BB83A]">TukanginAja.id</span>  Karena setiap masalah, selalu ada tukangnya.
            </p>
          </div>
                                              <!-- Sisi Kanan: Gambar -->
                                              <div class="md:w-1/2 md:flex justify-center  ">
            <img src="/kami/hp.png" alt="Logo" class="  p-4 " />
          </div>

    


        </div>
        
      </div>
    </section>
    

    <!-- TEMUI FOUNDER KAMI SEKARANG !-->

    <!-- <section class="w-full bg-white">
      <h1
        class="sans3 text-5xl md:text-7xl font-semibold text-black text-center md:pt-20 pt-10 mb-5">
        Temui Founder <span class="text-green-500">TukanginAja.id</span>
      </h1>

      <div class="flex items-center justify-center pt-10 pb-10">
        <div class="grid gap-x-52 gap-y-4 grid-cols-1 md:grid-cols-3">

          <div class="text-center">
            <img
              src="/icon/Founder.png"
              alt="Founder 1"
              class="w-full h-auto rounded-md mb-4 mt-10 md:mt-0" />
            <h2 class="text-xl font-semibold sans3">Nama Lengkap 1</h2>
            <p class="sans3">Jabatan 1</p>
          </div>


          <div class="text-center">
            <img
              src="/icon/Founder.png"
              alt="Founder 2"
              class="w-full h-auto rounded-md mb-4 mt-10 md:mt-0" />
            <h2 class="text-xl font-semibold sans3">Nama Lengkap 2</h2>
            <p class="sans3">Jabatan 2</p>
          </div>

          <div class="text-center">
            <img
              src="/icon/Founder.png"
              alt="Founder 3"
              class="w-full h-auto rounded-md mb-4 mt-10 md:mt-0" />
            <h2 class="text-xl font-semibold sans3">Nama Lengkap 3</h2>
            <p class="sans3">Jabatan 3</p>
          </div>

        </div>
      </div>
    </section> -->

    <!-- VISI MISI -->
    <section class="flex flex-col bg-white md:flex-row p-20 space-y-10 md:space-y-0 md:space-x-10 items-center">
      <!-- Gambar -->
      <div class="w-full md:w-1/2">
        <img src="/other/Youtube.png" alt="Ilustrasi Visi & Misi" class="w-full h-auto" />
      </div>

      <!-- Teks -->
      <div class="w-full md:w-1/2 text-center sans3">
        <!-- Visi -->
        <h2 class="text-4xl font-bold mb-3 text-green-500">VISI KAMI</h2>
        <p class="mb-6 text-xl">
          Menjadi salah satu one stop apps untuk segala kebutuhan pertukangan.
        </p>

        <!-- Misi -->
        <h2 class="text-4xl font-bold mb-3 text-green-500">MISI KAMI</h2>
        <p class="text-xl">
          Memberikan layanan pertukangan yang ekonomis, berkualitas dan bergaransi.
        </p>
      </div>
    </section>

    <!-- MAKNA BAGI KAMI -->
    <card />
    <!-- END MAKNA-->

    <!--MARQUEE-->
    <marquee />
    <!--END MARQUEE-->

    <!-- LOCATION -->
    <lokasi />
    <!-- END LOCATION-->

    <!-- Yuk Download -->
    <section class="flex items-center justify-center md:flex-row bg-white md:h-screen lg:p-4 xl:p-28 h-fit w-auto">
      <div class="container mx-auto flex items-center flex-col md:flex-row">
        <div class="w-full mb-4 md:mb-0 p-4">
          <h1 class="text-3xl font-extrabold md:text-lg xl:text-6xl mb-4  z-10 relative text-black sans3">
            Yuk Download Aplikasi <span class="text-green-500">TukanginAja.id</span>
          </h1>
          <p class="mb-6 fonthero text-black">
            Kamu butuh tukang? cari di <span class="text-green-500">TukanginAja.id</span> aja.
            Tukang disini bersertifikasi semua loh dan pastinya aman terpercaya!
          </p>
          <hr class="md:w-full w-full border-t-2 border-gray-900 mb-4" />
          <div class="flex items-center mt-10">
            <h1 class="fonthero text-black sans3">
              Download Aplikasi <span class="text-green-500">TukanginAja.id</span>
            </h1>
          </div>
          <div class="flex space-x-4 md:space-x-8 mt-5">
            <a href="">
              <img src="/Component/GooglePlay.png" alt="Google Play" class="w-auto h-16 md:h-20" />
            </a>
            <a href="">
              <img src="/Component/AppStore.png" alt="App Store" class="w-auto h-16 md:h-20" />
            </a>
          </div>
        </div>
        <transition name="fade-left">
          <div v-if="showHeroImage" class="md:w-1/2 w-full md:flex justify-end relative mb-8 md:mb-0 hidden">
            <img src="/other/Layanan.png" alt="" />
          </div>
        </transition>
      </div>
    </section>

    <!-- End Yuk Download -->
    <kaki />
    <cs />
  </main>
</template>
