<script setup>
import { ref, onMounted, onUnmounted } from 'vue';

const isTop = ref(true);

const handleScroll = () => {
  isTop.value = window.scrollY < 10;
};

onMounted(() => {
  window.addEventListener('scroll', handleScroll);

  onUnmounted(() => {
    window.removeEventListener('scroll', handleScroll);
  });
});
</script>

<template>
  <div class="hover:opacity-100 opacity-50 duration-300">
    <!-- BUTTON Butuh Bantuan -->
    <router-link to="/Kontak">
      <button class="fixed bottom-20 right-16 md:right-24 z-10 md:block ">
        <img
          src="/icon/Butuhbantuan.png"
          alt="Description"
          class="w-auto h-16 md:h-28 transition-opacity duration-300"
          :class="isTop ? 'opacity-0' : 'opacity-100'" />
      </button>
    </router-link>

    <!-- BUTTON CS-->
    <router-link to="/Kontak">
      <button class="fixed bottom-20 right-2.5 z-10 md:block ">
        <img
          src="/icon/Cs.png"
          alt="Description"
          class="w-auto h-16 md:h-28 transition-opacity duration-300"
          :class="isTop ? 'opacity-0' : 'opacity-100'" />
      </button>
    </router-link>
  </div>
</template>
