<script setup>
import { onMounted } from 'vue';

onMounted(() => {
  const callback = function (entries) {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add('animate-fadeIn');
      } else {
        entry.target.classList.remove('animate-fadeIn');
      }
    });
  };

  const observer = new IntersectionObserver(callback);

  const targets = document.querySelectorAll('.scroll');
  targets.forEach((target) => {
    target.classList.add('opacity-0');
    observer.observe(target);
  });
});
</script>

<template>
  <div class="grid gap-x-10 md:gap-x-24 gap-y-9 grid-cols-2 md:grid-cols-4 p-4">
    <div>
      <img
        src="/Produk/Ac.png"
        alt="AC"
        class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 scroll" />
    </div>
    <div>
      <img
        src="/Produk/Kelistrikan.png"
        alt="Kelistrikan"
        class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 scroll" />
    </div>
    <div>
      <img
        src="/Produk/Pipa.png"
        alt="Pipa"
        class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 scroll" />
    </div>
    <div>
      <img
        src="/Produk/Pijat.png"
        alt="Pijat "
        class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 scroll" />
    </div>
    <div>
      <img
        src="/Produk/Homecleaning.png"
        alt="Homecleaning"
        class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 scroll" />
    </div>
    <div>
      <img
        src="/Produk/Service.png"
        alt="Service"
        class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 scroll" />
    </div>
    <div>
      <img
        src="/Produk/Kunci.png"
        alt="Kunci"
        class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 scroll" />
    </div>
    <div>
      <img
        src="/Produk/Kebocoran.png"
        alt="Atap"
        class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 scroll" />
    </div>
    <div>
      <img
        src="/Produk/Cat.png"
        alt="Cat"
        class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 scroll" />
    </div>
    <div>
      <img
        src="/Produk/Bangunansipil.png"
        alt="Bangunansipil"
        class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 scroll" />
    </div>
    <div>
      <img
        src="/Produk/Besi.png"
        alt="Besi"
        class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 scroll" />
    </div>
    <div>
      <img
        src="/Produk/Desaininterior.png"
        alt="Desaininterior"
        class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 scroll" />
    </div>
    <div>
      <img
        src="/Produk/Gorden.png"
        alt="Desaininterior"
        class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 scroll" />
    </div>
    <div>
      <img
        src="/Produk/Cucimobil.png"
        alt="Desaininterior"
        class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 scroll" />
    </div>
    <div>
      <img
        src="/Produk/Nailart.png"
        alt="Desaininterior"
        class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 scroll" />
    </div>
    <div>
      <img
        src="/Produk/Makeup.png"
        alt="Desaininterior"
        class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 scroll" />
    </div>
  </div>
</template>
