<template>
	<footer class="relative bg-Toko-hijau">
		<!-- BAGIAN UTAMA -->
		<div class="container flex items-center justify-center mx-auto">
			<div
				class="flex items-center md:h-[300px] xl:w-[1000px] xl:h-[200px] 2xl:w-auto z-10"
			>
				<div class="md:p-0 p-4 mb-10 mt-[-300px]">
					<div
						class="bg-gray-50 mx-auto flex flex-col md:flex-row items-center w-full 2xl:h-[650px] md:h-[500px] xl:h-[500px] rounded-3xl shadow-2xl !px-4"
					>
						<div class="w-full p-4 md:w-1/2">
							<h1
								class="mb-2 font-bold sm:text-xl md:text-xl xl:text-3xl sans3 lg:text-3xl"
							>
								Gak perlu repot lagi untuk
								<span class="text-green-600">cari tukang</span>, sekarang kamu
								tinggal buka Handphone aja
							</h1>
							<p class="footertext-p1 !text-lg md:text-xl">
								Nikmati banyak pilihan tukang, promo, dan fitur eksklusif di
								<span class="text-green-600">TukanginAja.id</span>
							</p>
							<p class="footertext-p1 mt-3 !text-xl md:text-2xl">
								Download aplikasi
								<span class="text-green-600">TukanginAja.id</span> sekarang
								juga.
							</p>
							<div class="flex mt-4 space-x-4">
								<a href="#">
									<img
										src="/Component/GooglePlay.png"
										alt="Gambar Google Play"
										class="w-auto h-10 md:h-16 lg:h-20"
									/>
								</a>
								<a href="">
									<img
										src="/Component/AppStore.png"
										alt="Gambar App Store"
										class="w-auto h-10 md:h-16 lg:h-20"
								/></a>
							</div>
						</div>

						<!-- Ini adalah bagian gambar (ditambahkan kelas hidden pada mode kecil) -->
						<div
							class="md:w-full xl:w-1/2 xl:h-[500px] 2xl:h-[auto] flex justify-center items-center"
						>
							<img
								src="/Hero/HP.png"
								alt="Deskripsi Gambar"
								class="hidden object-cover max-w-full max-h-full mb-10 rounded-3xl md:block"
							/>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- END BAGIAN UTAMA -->

		<!--BAGIAN KAKI -->
		<div class="w-full max-w-screen-xl p-4 py-6 mx-auto lg:py-28">
			<div class="md:flex md:justify-between">
				<div class="mb-6 md:mb-0">
					<a href="" class="flex items-center">
						<img src="/icon/tukanglingkaran.png" alt="" class="h-16" />
						<span
							class="self-center ml-5 text-2xl font-semibold text-white whitespace-nowrap fonthero"
							>TukanginAja.id</span
						>
					</a>
					<div class="mt-10 text-start">
						<a
							href="/tentangkami"
							class="text-2xl text-white footertext-p1 hover:underline"
							>Tentang kami</a
						>
					</div>
					<div class="text-start">
						<a
							href="/blog"
							class="text-2xl text-white footertext-p1 hover:underline"
							>Blog</a
						>
					</div>
				</div>
				<hr
					class="md:w-[530px] w-full border-t-2 border-white mb-4 block md:hidden"
				/>
				<div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
					<div>
						<h2 class="mb-6 text-sm font-semibold text-white">Kategori</h2>
						<ul class="text-white">
							<li class="mb-4">
								<a href="/layanankami" class="hover:underline">Tukang Ac</a>
							</li>
							<li class="mb-4">
								<a href="/layanankami" class="hover:underline">Tukang pijat</a>
							</li>
							<li class="mb-4">
								<a href="/layanankami" class="hover:underline">Kelistrikan</a>
							</li>
							<li class="mb-4">
								<a href="/layanankami" class="hover:underline">Lainya</a>
							</li>
						</ul>
					</div>
					<div>
						<h2 class="mb-6 text-sm font-semibold text-white">
							Menjadi Penyedia Jasa
						</h2>
						<ul class="text-white">
							<li class="mb-4">
								<a href="/Mitra" class="hover:underline">Cara Kerja</a>
							</li>
							<li>
								<a
									href="https://docs.google.com/forms/d/14tZw7lt-69rbVdkqyGuGSOoo2aU4TcM24D76wNFugQo/edit"
									class="hover:underline"
									>Daftar Mitra</a
								>
							</li>
						</ul>
					</div>
					<div>
						<h2 class="mb-6 text-sm font-semibold text-white">Hubungi kami</h2>
						<ul class="text-white">
							<li class="mb-4">
								<a href="/Kontak" class="hover:underline">Bantuan</a>
							</li>
							<!-- <li>
								<a href="/Kebijakan" class="hover:underline"
									>Kebijakan Privasi</a
								>
							</li> -->
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!-- Bagian footer bawah dengan full width -->
		<div class="m-0 bg-white shadow">
			<div
				class="flex flex-col items-center justify-center px-4 py-6 md:px-8 md:flex-row md:justify-between"
			>
				<span
					class="mb-4 text-sm text-gray-400 md:text-xl sm:text-center md:mb-0"
				>
					<a href="#" class="font-bold text-gray-500 hover:underline"
						>Copyright© 2023 Quantum Leap.</a
					>
					All Rights Reserved.
				</span>
				<ul
					class="flex flex-wrap items-center mt-4 space-x-6 text-sm font-medium text-gray-500 md:flex-row md:mt-0 dark:text-gray-400 md:space-x-6"
				>
					<li>
						<a href="#" class="mb-2 md:mb-0"
							><img src="/icon/WhatsApp.png" alt=""
						/></a>
					</li>
					<li>
						<a href="#" class="mb-2 md:mb-0"
							><img src="/icon/Instagram.png" alt=""
						/></a>
					</li>
					<li>
						<a href="#" class="mb-2 md:mb-0"
							><img src="/icon/TikTok.png" alt=""
						/></a>
					</li>
					<li>
						<a href="#" class=""><img src="/icon/LinkeDin.png" alt="" /></a>
					</li>
				</ul>
			</div>
		</div>
	</footer>
</template>
