<template>
	<Carousel :items-to-show="itemsToShow" :wrap-around="true" class="!space-x-8">
		<Slide v-for="(testi, index) in testimonial" :key="index"
			class="relative py-10 md:!mr-10 last:mr-0 !w-[100%] px-10 md:px-0 md:!w-[45%] lg:!w-[28%]">
			<div
				class="flex flex-col items-start h-full rounded-xl shadow-[0_10px_30px_0px_rgba(44,184,59,0.1)] px-8 space-y-4 text-left w-[500px] pt-[68px] pb-[108px] carousel__item">
				<img class="absolute top-[70px]" src="/testi/petik1.png" />
				<img class="absolute bottom-[65px] right-9" src="/testi/petik2.png" />
				<div class="flex space-x-1">
					<img v-for="star in testi.stars" :key="star" src="/testi/star1.svg" />
				</div>
				<h1 class="text-2xl  font-bold sans3">{{ testi.name }}</h1>
				<p class=" sans3  text-xl">{{ testi.testimonial }}</p>
			</div>
		</Slide>
	</Carousel>
</template>

<script>
import { defineComponent, ref, onMounted } from "vue";
import { Carousel, Navigation, Slide } from "vue3-carousel";

import "vue3-carousel/dist/carousel.css";

export default defineComponent({
	name: "WrapAround",
	components: {
		Carousel,
		Slide,
		Navigation,
	},
	setup() {
		const itemsToShow = ref(4);

		onMounted(() => {

			if (window.innerWidth < 640) itemsToShow.value = 1;
			else if (window.innerWidth < 1024) itemsToShow.value = 2;
			else if (window.innerWidth < 1080) itemsToShow.value = 3;
		});

		const testimonial = [
			{

				stars: [1, 1, 1, 1, 3],
				name: "Agus Sanjaya",
				testimonial: "Pelayanannya sangat memuaskan. Taman saya menjadi cantik dan indah, saya akan merekomendasi-kan tukanginaja.id ini ke semua orang. Terima kasih banyak atas jasanya!",
			},
			{

				stars: [1, 1, 1, 1, 3],
				name: "Arjuna Wira",
				testimonial: "Hasilnya memuaskan! Semua orang wajib menggunakan layanan dari tukanginaja.id. Saya akan memberitau teman-teman saya. Terima kasih banyak atas pelayanannya!",
			},
			{

				stars: [1, 1, 1, 1, 3],
				name: "Udin Sugiro",
				testimonial: "Hasilnya luar biasa memuaskan!!! Semua orang wajib menggunakan layanan dari tukanginaja.id. Terima kasih banyak atas pelayanan nya! Saya akan menggunakannya lagi di lain waktu. Sukses terus untuk tukanginaja.id",
			},
			{

				stars: [1, 1, 1, 1, 3],
				name: "Agung Yudistira",
				testimonial: "Saya senang bisa menemukan tukang yang saya butuh kan dengan cepat dan bagus. Saya tidak ragu untuk merekomendasikan layanan mereka kepada teman-teman saya. Terima kasih banyak atas jasanya!",
			},
			{

				stars: [1, 1, 1, 1, 3],
				name: "Bayu Nirma ",
				testimonial: "TukanginAja.id benar-benar menyelamatkan hariku! Saya baru saja menggunakan layanan mereka untuk memperbaiki beberapa kerusakan rumah, dan saya sangat terkesan dengan hasilnya. Tukang yang mereka tunjuk sangat profesional, ahli dalam bidangnya, dan bekerja dengan efisien.",
			},

		];

		return {
			itemsToShow,
			testimonial,
		};
	},
});
</script>