<template>
  <div class="w-full min-h-screen flex items-center justify-center bg-gray-100 p-5 rounded-md">
    <div class="m-5 p-0 md:p-5 text-center  ">
      <div class="text-[15px] md:text-[30px] font-bold mb-2">Mohon maaf mengganggu kenyamanan anda</div>
      <h1 class="sm:text-sm md:text-[22px] mb-4">Saat ini Halaman Sedang dalam proses Development</h1>
      <img
        src="/404/eror.png"
        alt="404 Image"
        class="mx-auto w-full md:w-2/3 lg:w-full" />
      <p class="mt-4">
        <button class="bg-Toko-hijau py-4 px-5 rounded-full hover:bg-green-700 duration-300">
          <router-link
            to="/"
            class="text-white sans3 font-semibold sm:text-xl md:text-[22px]"
            >Kembali ke Beranda</router-link
          >
        </button>
      </p>
    </div>
  </div>
</template>
