<script setup>
import { ref, onMounted, onUnmounted } from 'vue';

const isOpen = ref(false);
const isTop = ref(true); // Assume the user is at the top initially

onMounted(() => {
  // Check initial scroll position
  isTop.value = window.scrollY <= 10;

  const handleScroll = () => {
    isTop.value = window.scrollY <= 10;
  };

  window.addEventListener('scroll', handleScroll);

  onUnmounted(() => {
    window.removeEventListener('scroll', handleScroll);
  });
});
</script>

<template>
  <div
    class="bg-white fixed top-0 w-full p-4 z-50 shadow-2xl md:shadow-lg transition-colors duration-300">
    <div class="container mx-auto flex items-center justify-between font-Poppins">
      <div class="flex items-center z-50">
        <img
          src="/icon/tukanginaja.png"
          alt=""
          class="h-10" />
        <div class="fontlogo ml-2 text-black">TukanginAja.id</div>
      </div>
      <div
        class="hidden md:flex space-x-4 items-center"
        :class="['duration-300', isTop ? 'text-black' : 'text-white']">
        <router-link
          to="/"
          class="fontbar duration-300"
          active-class="active-link"
          :class="[
            $route.path === '/' ? (isTop ? 'text-green-500' : 'text-green-500') : 'text-black',
          ]">
          Beranda
        </router-link>

        <router-link
          to="/LayananKami"
          class="fontbar"
          active-class="active-link"
          :class="[
            $route.path === '/LayananKami'
              ? isTop
                ? 'text-green-500'
                : 'text-green-500'
              : 'text-black',
          ]">
          Layanan Kami
        </router-link>
        <router-link
          to="/TentangKami"
          class="fontbar"
          active-class="active-link"
          :class="[
            $route.path === '/TentangKami'
              ? isTop
                ? 'text-green-500'
                : 'text-green-500'
              : 'text-black',
          ]">
          Tentang Kami
        </router-link>

        <router-link
          to="/Blog"
          class="fontbar"
          active-class="active-link"
          :class="[
            $route.path === '/Blog' ? (isTop ? 'text-green-500' : 'text-green-500') : 'text-black',
          ]">
          Blog
        </router-link>

        <router-link
          to="/Mitra"
          class="fontbar"
          active-class="active-link"
          :class="[
            $route.path === '/Mitra' ? (isTop ? 'text-green-500' : 'text-green-500') : 'text-black',
          ]">
          Mitra
        </router-link>

        <router-link
          to="/Kontak"
          class="fontbar duration-300 bg-green-500 hover:bg-green-700 rounded-xl text-center h-10 p-4 flex items-center justify-center"
          active-class="text-white bg-green-700"
          :class="[isTop ? 'text-white' : 'text-white']">
          Kontak Kami
        </router-link>
        <a
          href="https://docs.google.com/forms/d/14tZw7lt-69rbVdkqyGuGSOoo2aU4TcM24D76wNFugQo/edit"
          class="fontbar duration-300 bg-green-500 hover:bg-green-700 rounded-xl text-center h-10 p-4 flex items-center justify-center"
          active-class="text-white bg-green-700"
          :class="[isTop ? 'text-white' : 'text-white']">
          Daftar
        </a>
      </div>
      <button
        @click="isOpen = !isOpen"
        class="md:hidden transition-transform duration-300">
        <i
          v-if="!isOpen"
          class="fas fa-bars text-black transform"
          :class="['duration-300', isTop ? 'text-black' : 'text-black']"></i>
        <i
          v-if="isOpen"
          class="fas fa-times text-black transform rotate-180"
          :class="['duration-300', isTop ? 'text-black' : 'text-black']"></i>
      </button>
    </div>
    <div
      v-if="isOpen"
      class="md:hidden mt-8 space-y-2 z-[9999]">
      <router-link
        to="/"
        class="block fontbar duration-300"
        active-class="text-green-500"
        :class="[isTop ? 'text-black' : 'text-black']">
        Beranda
      </router-link>

      <router-link
        to="/LayananKami"
        class="block fontbar duration-300"
        active-class="text-green-500"
        :class="[isTop ? 'text-black' : 'text-black']">
        Layanan Kami
      </router-link>

      <router-link
        to="/TentangKami"
        class="block fontbar duration-300"
        active-class="text-green-500"
        :class="[isTop ? 'text-black' : 'text-black']">
        Tentang Kami
      </router-link>

      <router-link
        to="/Blog"
        class="block fontbar duration-300"
        active-class="text-green-500"
        :class="[isTop ? 'text-black' : 'text-black']">
        Blog
      </router-link>

      <router-link
        to="/Mitra"
        class="block fontbar duration-300"
        active-class="text-green-500"
        :class="[isTop ? 'text-black' : 'text-black']">
        Mitra
      </router-link>

      <router-link
        to="/Kontak"
        class="fontbar duration-300 bg-green-500 hover:bg-green-700 rounded-xl text-center h-6 p-4 flex items-center justify-center"
        active-class="text-black bg-green-700"
        :class="[isTop ? 'text-white' : 'text-white']">
        Kontak Kami
      </router-link>

      <a
        href="https://docs.google.com/forms/d/14tZw7lt-69rbVdkqyGuGSOoo2aU4TcM24D76wNFugQo/edit"
        class="fontbar duration-300 bg-green-500 hover:bg-green-700 rounded-xl text-center h-6 p-4 flex items-center justify-center"
        active-class="text-black bg-green-700"
        :class="[isTop ? 'text-white' : 'text-white']">
        Daftar
      </a>
    </div>
  </div>
</template>
