import { RouterLink } from 'vue-router';
<template>
	<footer class="relative bg-Toko-hijau">
		<!--BAGIAN KAKI -->
		<div class="w-full max-w-screen-xl p-4 py-6 mx-auto lg:py-28">
			<div class="md:flex md:justify-between">
				<div class="mb-6 md:mb-0">
					<a href="" class="flex items-center">
						<img
							src="/icon/tukanglingkaran.png"
							class="h-8 mr-3"
							alt="FlowBite Logo"
						/>
						<span
							class="self-center text-2xl font-semibold text-white whitespace-nowrap fonthero"
							>TukanginAja.id</span
						>
					</a>
					<div class="mt-10 text-start">
						<a
							href="/tentangkami"
							class="text-2xl text-white footertext-p1 hover:underline"
							>Tentang kami</a
						>
					</div>
					<div class="text-start">
						<a
							href="/blog"
							class="text-2xl text-white footertext-p1 hover:underline"
							>Blog</a
						>
					</div>
				</div>
				<hr
					class="md:w-[530px] w-full border-t-2 border-white mb-4 block md:hidden"
				/>
				<div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
					<div>
						<h2 class="mb-6 text-sm font-semibold text-white">Kategori</h2>
						<ul class="text-white">
							<li class="mb-4">
								<a href="/layanankami" class="hover:underline">Tukang Ac</a>
							</li>
							<li class="mb-4">
								<a href="/layanankami" class="hover:underline">Tukang pijat</a>
							</li>
							<li class="mb-4">
								<a href="/layanankami" class="hover:underline">Kelistrikan</a>
							</li>
							<li class="mb-4">
								<a href="/layanankami" class="hover:underline">Lainya</a>
							</li>
						</ul>
					</div>
					<div>
						<h2 class="mb-6 text-sm font-semibold text-white">
							Menjadi Penyedia Jasa
						</h2>
						<ul class="text-white">
							<li class="mb-4">
								<a href="/Mitra" class="hover:underline">Cara Kerja</a>
							</li>
							<li>
								<a
									href="https://docs.google.com/forms/d/14tZw7lt-69rbVdkqyGuGSOoo2aU4TcM24D76wNFugQo/edit"
									class="hover:underline"
									>Daftar Mitra</a
								>
							</li>
						</ul>
					</div>
					<div>
						<h2 class="mb-6 text-sm font-semibold text-white">Hubungi kami</h2>
						<ul class="text-white">
							<li class="mb-4">
								<router-link to="/Kontak" class="hover:underline">
									Bantuan
								</router-link>
							</li>
							<!-- <li>
								<router-link to="/Kebijakan" class="hover:underline"
									>Kebijakan Privasi</router-link
								>
							</li> -->
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!-- Bagian footer bawah dengan full width -->
		<div class="m-0 bg-white shadow">
			<div
				class="flex flex-col items-center justify-center px-0 py-6 md:px-8 md:flex-row md:justify-between"
			>
				<span
					class="mb-4 text-sm text-gray-400 md:text-xl sm:text-center md:mb-0"
				>
					<a href="#" class="ml-6 font-bold text-gray-500 hover:underline"
						>Copyright© 2023 Quantum Leap.</a
					>
					<span class="hidden md:"> All Rights Reserved.</span>
					<span class="flex justify-center text-center md:hidden">
						<br />All Rights Reserved.</span
					>
				</span>
				<ul
					class="flex flex-wrap items-center mt-4 space-x-6 text-sm font-medium text-gray-500 md:flex-row md:mt-0 dark:text-gray-400 md:space-x-6"
				>
					<li>
						<a href="#" class="mb-2 md:mb-0"
							><img src="/icon/WhatsApp.png" alt=""
						/></a>
					</li>
					<li>
						<a href="#" class="mb-2 md:mb-0"
							><img src="/icon/Instagram.png" alt=""
						/></a>
					</li>
					<li>
						<a href="#" class="mb-2 md:mb-0"
							><img src="/icon/TikTok.png" alt=""
						/></a>
					</li>
					<li>
						<a href="#" class=""><img src="/icon/LinkeDin.png" alt="" /></a>
					</li>
				</ul>
			</div>
		</div>
	</footer>
</template>
