<script setup>
import { ref } from 'vue';
import nfund from '../404.vue';
const activeTab = ref('tab1');

const changeTab = (tab) => {
  activeTab.value = tab;
};
</script>

<template>
  <div class="w-10/12 mx-auto my-[2rem]">
    <!-- TAB BUTTONS -->
    <div
      class="flex justify-between flex-col sm:flex-row ">
      <div class="w-9/12 rounded-full border-1 border-green-500 mb-[2rem]">
        <div class="flex ">
          <button
            @click="changeTab('tab1')"
            :class="{
              'bg-green-500 text-white': activeTab === 'tab1',
              'bg-white border-1 border-black text-black': activeTab !== 'tab1',
            }"
            class="rounded-l-full text-[12px] fon12old md:text-[16px] sans3 hover:bg-green-500 hover:text-white focus:outline-none py-3 px-5 border-y-2 border-s-1 border-green-500">
            Semua
          </button>
          <button
            @click="changeTab('tab2')"
            :class="{
              'bg-green-500 text-white': activeTab === 'tab2',
              'bg-white border-1 border-black text-black': activeTab !== 'tab2',
            }"
            class="text-[12px] md:text-[16px] sans3 hover:bg-green-500 hover:text-white focus:outline-none py-3 px-5 border-y-2 border-green-500">
            Berita
          </button>
          <button
            @click="changeTab('tab3')"
            :class="{
              'bg-green-500 text-white': activeTab === 'tab3',
              'bg-white border-1 border-black text-black': activeTab !== 'tab3',
            }"
            class="text-[12px] md:text-[16px] sans3 hover:bg-green-500 hover:text-white focus:outline-none py-3 px-5 border-y-2 border-green-500">
            Tips
          </button>
          <button
            @click="changeTab('tab4')"
            :class="{
              'bg-green-500 text-white': activeTab === 'tab4',
              'bg-white border-1 border-black text-black': activeTab !== 'tab4',
            }"
            class="text-[12px] md:text-[16px] sans3 hover:bg-green-500 hover:text-white focus:outline-none py-3 px-5 border-y-2 border-green-500">
            Promo
          </button>
          <button
            @click="changeTab('tab5')"
            :class="{
              'bg-green-500 text-white': activeTab === 'tab5',
              'bg-white border-1 border-black text-black': activeTab !== 'tab5',
            }"
            class="rounded-r-full text-[12px] md:text-[16px] sans3 hover:bg-green-500 hover:text-white focus:outline-none py-3 px-5 border-y-2 border-e-2 border-green-500">
            Media Sosial
          </button>
        </div>
      </div>

      <!-- Search input and button -->
      <div
        class="flex rounded-md w-full lg:w-3/12 md:justify-start mb-[2rem]">
        <input
          type="text"
          placeholder="Cari informasi disini"
          class="text-[16px] py-3 px-5 rounded-s-full border-2 border-green-500 focus:outline-none" />
        <button
          class="inline-flex items-center bg-green-500 hover:bg-green-500 text-white text-lg font-semibold py-3 px-6 rounded-e-full">
          <svg
            class="text-gray-200 h-5 w-5 p-0 fill-current"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            version="1.1"
            x="0px"
            y="0px"
            viewBox="0 0 56.966 56.966"
            style="enable-background: new 0 0 56.966 56.966"
            xml:space="preserve">
            <path
              d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
          </svg>
        </button>
      </div>
    </div>

    <!-- TAB CONTENTS -->
    <div v-if="activeTab === 'tab1'">
      <nfund />
    </div>
    <div v-else-if="activeTab === 'tab2'">
      <nfund />
    </div>
    <div v-else-if="activeTab === 'tab3'">
      <nfund />
    </div>
    <div v-else-if="activeTab === 'tab4'">
      <nfund />
    </div>
    <div v-else-if="activeTab === 'tab5'">
      <nfund />
    </div>
  </div>
</template>
