<template>
  <!-- Section -->
  <div class="bg-white py-10 px-20">
    <!-- Judul -->
    <h2 class="text-center text-2xl md:text-5xl font-semibold text-black mb-10 sans3">
      Keunggulan Kompetitif <span class="text-green-500">Kami</span>
    </h2>

    <!-- Cards Container -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
      <!-- Card 1 -->
      <div
        class="bg-white rounded-3xl shadow-lg overflow-hidden flex flex-col items-center justify-center">
        <img
          src="/makna/palu.png"
          alt="Gambar 1"
          class="object-cover h-40 w-40 p-5" />
        <hr class="my-2 w-[280.007px] border-t-2 border-green-500" />
        <div class="p-4 w-full">
          <h3 class="font-semibold mb-3 text-center sans3 text-3xl"></h3>
          <p class="text-black text-center sans3 text-xl 2xl:text-3xl font-semibold">
            Tukang Bersertifikasi dan berpengalaman
          </p>
        </div>
      </div>

      <!-- Card 2 -->
      <div
        class="bg-white rounded-3xl shadow-lg overflow-hidden flex flex-col items-center justify-center">
        <img
          src="/makna/Pelayanan.png"
          alt="Gambar 1"
          class="object-cover h-40 w-40 p-5" />
        <hr class="my-2 w-[280.007px] border-t-2 border-green-500" />
        <div class="p-4 w-full">
          <h3 class="font-semibold mb-3 text-center sans3 text-3xl"></h3>
          <p class="text-black text-center sans3 text-xl 2xl:text-3xl font-semibold">
            Pembayaran Sekali Bayar untuk Semua Pekerjaan
          </p>
        </div>
      </div>

      <!-- Card 3 -->
      <div
        class="bg-white rounded-3xl shadow-lg overflow-hidden flex flex-col items-center justify-center">
        <img
          src="/makna/Waktu.png"
          alt="Gambar 1"
          class="object-cover h-40 w-40 p-5" />
        <hr class="my-2 w-[280.007px] border-t-2 border-green-500" />
        <div class="p-4 w-full">
          <h3 class="font-semibold mb-3 text-center sans3 text-3xl"></h3>
          <p class="text-black text-center sans3 text-xl 2xl:text-3xl font-semibold">
            Same-day Service (Pesan hari ini, datang hari ini juga)
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- END MARQUEE-->
</template>
