<template>
  <div class="w-full bg-white">
    <div class="container mx-auto w-full">
      <div class="flex flex-wrap justify-start items-center p-10">
        <!-- Google Maps Section -->
        <div
          class="col-span-6 lg:col-span-3 bg-black rounded-3xl w-full lg:w-[70%] h-[300px] lg:h-[500px]">
          <iframe
            class="rounded-3xl"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15865.435071047936!2d112.73774643072592!3d-7.245971999999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd7fbecef85528f%3A0x2b317c8f18c3aa74!2sSurabaya%2C%20Surabaya%20City%2C%20East%20Java%2C%20Indonesia!5e0!3m2!1sen!2sid!4v1621843729025!5m2!1sen!2sid"
            width="100%"
            height="100%"
            style="border: 0"
            allowfullscreen="false"
            loading="lazy">
          </iframe>
        </div>

        <!-- Contact Details Section -->
        <div class="col-span-6 lg:col-span-3 mt-8 flex flex-col space-y-4 pl-0 lg:pl-10 lg:w-[30%]">
          <!-- Telepon -->
          <!-- <div class="flex items-center space-x-4">
            <div class="bg-Toko-hijau p-5 rounded-lg shadow-md flex items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="45"
                height="45"
                viewBox="0 0 45 45"
                fill="none">
                <path
                  d="M41.25 22.5C41.249 17.5275 39.2732 12.7589 35.7572 9.24285C32.2411 5.72675 27.4725 3.75099 22.5 3.75V7.5C25.4664 7.50067 28.3661 8.38057 30.8327 10.0285C33.2992 11.6764 35.222 14.0185 36.3581 16.7587C37.1121 18.5789 37.5001 20.5298 37.5 22.5H41.25ZM3.75 18.75V9.375C3.75 8.87772 3.94754 8.40081 4.29917 8.04918C4.65081 7.69754 5.12772 7.5 5.625 7.5H15C15.4973 7.5 15.9742 7.69754 16.3258 8.04918C16.6775 8.40081 16.875 8.87772 16.875 9.375V16.875C16.875 17.3723 16.6775 17.8492 16.3258 18.2008C15.9742 18.5525 15.4973 18.75 15 18.75H11.25C11.25 22.7282 12.8304 26.5436 15.6434 29.3566C18.4564 32.1696 22.2718 33.75 26.25 33.75V30C26.25 29.5027 26.4475 29.0258 26.7992 28.6742C27.1508 28.3225 27.6277 28.125 28.125 28.125H35.625C36.1223 28.125 36.5992 28.3225 36.9508 28.6742C37.3025 29.0258 37.5 29.5027 37.5 30V39.375C37.5 39.8723 37.3025 40.3492 36.9508 40.7008C36.5992 41.0525 36.1223 41.25 35.625 41.25H26.25C13.8244 41.25 3.75 31.1756 3.75 18.75Z"
                  fill="white" />
                <path
                  d="M32.8931 18.195C33.4591 19.5597 33.7503 21.0226 33.75 22.5H30.375C30.3752 21.4658 30.1717 20.4416 29.7761 19.4861C29.3804 18.5305 28.8003 17.6623 28.069 16.931C27.3377 16.1997 26.4695 15.6196 25.5139 15.2239C24.5584 14.8283 23.5342 14.6248 22.5 14.625V11.25C24.725 11.2501 26.8999 11.91 28.7499 13.1462C30.5999 14.3824 32.0417 16.1394 32.8931 18.195Z"
                  fill="white" />
              </svg>
            </div>
            <div class="sans3 text-green-600">
              <div class="font-bold text-lg lg:text-3xl lg:text-start">Telepon</div>
              <div class="font-bold">(033) 99999</div>
            </div>
          </div> -->

          <!-- Pesan -->
          <div class="flex items-center space-x-4">
            <div class="bg-Toko-hijau p-5 rounded-lg shadow-md flex items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="45"
                height="45"
                viewBox="0 0 45 45"
                fill="none">
                <path
                  d="M22.4998 5.625C19.5722 5.62402 16.6946 6.38473 14.1499 7.83239C11.6052 9.28005 9.48087 11.3648 7.98571 13.8819C6.49055 16.399 5.67597 19.2618 5.62201 22.189C5.56805 25.1162 6.27657 28.007 7.67795 30.5775L5.68107 37.5806C5.61081 37.8265 5.60894 38.0869 5.67566 38.3338C5.74238 38.5807 5.87517 38.8048 6.05973 38.9818C6.2443 39.1588 6.47365 39.2822 6.72311 39.3386C6.97256 39.395 7.23267 39.3823 7.47545 39.3019L14.0511 37.1109C16.2922 38.406 18.8013 39.1682 21.3841 39.3385C23.967 39.5087 26.5544 39.0825 28.9462 38.0929C31.338 37.1032 33.47 35.5766 35.1774 33.6311C36.8848 31.6856 38.1218 29.3734 38.7926 26.8734C39.4635 24.3734 39.5502 21.7526 39.0461 19.2137C38.542 16.6748 37.4606 14.2859 35.8856 12.2318C34.3105 10.1777 32.2841 8.51345 29.963 7.36781C27.6418 6.22218 25.0883 5.62587 22.4998 5.625ZM16.8748 19.6875C16.8748 19.3145 17.023 18.9569 17.2867 18.6931C17.5504 18.4294 17.9081 18.2813 18.2811 18.2813H26.7186C27.0915 18.2813 27.4492 18.4294 27.7129 18.6931C27.9767 18.9569 28.1248 19.3145 28.1248 19.6875C28.1248 20.0605 27.9767 20.4181 27.7129 20.6819C27.4492 20.9456 27.0915 21.0938 26.7186 21.0938H18.2811C17.9081 21.0938 17.5504 20.9456 17.2867 20.6819C17.023 20.4181 16.8748 20.0605 16.8748 19.6875ZM18.2811 23.9063H23.9061C24.279 23.9063 24.6367 24.0544 24.9004 24.3181C25.1642 24.5819 25.3123 24.9395 25.3123 25.3125C25.3123 25.6855 25.1642 26.0431 24.9004 26.3069C24.6367 26.5706 24.279 26.7188 23.9061 26.7188H18.2811C17.9081 26.7188 17.5504 26.5706 17.2867 26.3069C17.023 26.0431 16.8748 25.6855 16.8748 25.3125C16.8748 24.9395 17.023 24.5819 17.2867 24.3181C17.5504 24.0544 17.9081 23.9063 18.2811 23.9063Z"
                  fill="white" />
              </svg>
            </div>
            <div class="sans3 text-green-600">
              <div class="font-bold text-lg lg:text-3xl lg:text-start">Costumer Service</div>
              <div class="font-bold">+628113288966</div>
            </div>
          </div>

          <!-- Email -->
          <div class="flex items-center space-x-4">
            <div class="bg-Toko-hijau p-5 rounded-lg shadow-md flex items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="45"
                height="45"
                viewBox="0 0 45 45"
                fill="none">
                <g clip-path="url(#clip0_548_23591)">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M16.137 25.5015L22.5045 29.8552L28.6425 25.6208L42.4012 39.195C42.039 39.312 41.652 39.375 41.2493 39.375H3.75075C3.25575 39.375 2.78325 39.2782 2.349 39.105L16.137 25.5015ZM45 14.346V35.6243C45 36.18 44.8785 36.7065 44.6625 37.1812L31.176 23.8748L45 14.346ZM2.1231e-06 14.4653L13.5945 23.7622L0.238502 36.9428C0.0803176 36.5212 -0.000477525 36.0745 2.1231e-06 35.6243V14.4653ZM41.2493 5.625C43.3193 5.625 45 7.3035 45 9.37575V10.6942L22.4955 26.208L2.1231e-06 10.8225V9.37575C2.1231e-06 7.30575 1.6785 5.625 3.75075 5.625H41.2493Z"
                    fill="white" />
                </g>
                <defs>
                  <clipPath id="clip0_548_23591">
                    <rect
                      width="45"
                      height="45"
                      fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </div>
            <div class="sans3 text-green-600">
              <div class="font-bold text-lg lg:text-3xl lg:text-start">EMAIL</div>
              <div class="font-bold">cs.tukanginaja@gmail.com</div>
            </div>
          </div>

          <!-- Alamat -->
          <div class="flex items-center space-x-4">
            <div class="bg-Toko-hijau p-5 rounded-lg shadow-md flex items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="45"
                height="45"
                viewBox="0 0 45 45"
                fill="none">
                <path
                  d="M7.03125 17.8125C7.03125 9.26932 13.9568 2.34375 22.5 2.34375C31.0432 2.34375 37.9688 9.26932 37.9688 17.8125C37.9688 24.4046 34.1935 30.5843 30.6236 34.9872C28.817 37.2153 27.0138 39.0482 25.6628 40.3241C24.9865 40.9629 24.4211 41.4643 24.0223 41.808C23.8229 41.9799 23.6649 42.1125 23.5553 42.2034C23.5006 42.2488 23.4578 42.2838 23.4281 42.308L23.3933 42.3362L23.3833 42.3442L23.3803 42.3467C23.3803 42.3467 23.3785 42.3481 22.5 41.25C21.6215 42.3481 21.6208 42.3475 21.6208 42.3475L21.6167 42.3442L21.6067 42.3362L21.5719 42.308C21.5422 42.2838 21.4994 42.2488 21.4447 42.2034C21.3351 42.1125 21.1771 41.9799 20.9777 41.808C20.5789 41.4643 20.0135 40.9629 19.3372 40.3241C17.9862 39.0482 16.183 37.2153 14.3764 34.9872C10.8065 30.5843 7.03125 24.4046 7.03125 17.8125ZM22.5 41.25L23.3785 42.3481C22.8649 42.759 22.1344 42.7584 21.6208 42.3475L22.5 41.25ZM15.4688 17.8125C15.4688 21.6957 18.6168 24.8438 22.5 24.8438C26.3832 24.8438 29.5312 21.6957 29.5312 17.8125C29.5312 13.9293 26.3832 10.7812 22.5 10.7812C18.6168 10.7812 15.4688 13.9293 15.4688 17.8125Z"
                  fill="white" />
              </svg>
            </div>
            <div class="sans3 text-green-600">
              <div class="font-bold text-lg lg:text-3xl lg:text-start">Alamat</div>
              <div class="font-bold">
                Jl. Rungkut Asri Timur 11, Rungkut Kidul, Rungkut, Surabaya 60293
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
